{% set title = "Translation tool :: About" %}
{% set current_link = "about" %}
{% extends 'composers/translate/layout.html' %}
{% block body_content %}
        <div class="translateblock">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-header">
                        <h1 id="apptitle">A little help...</h1>
                    </div>
                </div>
        </div>

        <div class="row">
            <div class="col-lg-6">        
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">The Translation tool for Apps</h3>
                    </div>
                    <div class="panel-body">
                        <p>This simple tool will help you editing your language files. 
                        Just specify the source language and the target language to generate a new document.
                        </p>
                        <p>After you've finished editing the value's you can save the results into your app repository.</p>
                    </div>
                </div>
        </div>
{% endblock %}
