{% set title = "Translation tool" %}
{% set current_link = "home" %}
{% extends 'composers/translate/layout.html' %}


{% block body_content %}
        <div class="translateblock">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-header">
                        <h1 id="apptitle">Translate</h1>
                        <h2 id="appfullname">the Function plotter app</h2>
                    </div>
                </div>
            </div>

          <h5 class="col-lg-12">Step 3: Validate the proposed translations by pressing OK or provide your own translation</h5>
          <hr>

  <div class="well">
        <div class="row">
          <div class="col-lg-12">            

            <div class="wrap">
              <ul class="nav nav-tabs" style="margin-bottom: 15px;">
                <li class="active"><a href="#edit" data-toggle="tab">Edit</a></li>
                <li><a href="#preview" data-toggle="tab">Preview</a></li>
              </ul>              
              <div id="tabtrans" class="tab-content">
                <div class="tab-pane fade active in" id="edit">

                  <div class="col-lg-12">
                      <form class="bs-example form-horizontal" method="POST" target="#">

                        <input type="hidden" name="appid" value="{{ request.values["appid"] }}"/>
                        <input type="hidden" name="srclang" value="{{ request.values["srclang"] }}"/>
                        <input type="hidden" name="targetlang" value="{{ request.values["targetlang"] }}"/>
                        <input type="hidden" name="srcgroup" value="{{ request.values["srcgroup"] }}"/>
                        <input type="hidden" name="targetgroup" value="{{ request.values["targetgroup"] }}"/>

                        <fieldset>
                          <!-- <legend  class="col-lg-12">Step 3: Validate the proposed translations by pressing "Save" or provide your own translation</legend> -->


                            {% for src_name, src_text in srcbundle.get_msgs().items() %}
                            <div class="form-group">
                                <label for="field_{{ loop.index }}" class="col-lg-2 control-label">[{{ src_name }}] {{ src_text }}</label>
                                <div class="col-lg-10">
                                    {# TODO: Find a better way to submit them. This is particularly ugly. #}
                                    <input type="text" class="form-control" id="field_{{ loop.index }}" name="_ythmessage_{{ src_name }}" placeholder="{{ src_text }}" value="{{ targetbundle.get_msg(src_name) or '' }}">
                                </div>
                            </div>
                            {% endfor %}

                          
                          <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                              <a class="btn btn-default" id="backtoindexbtn" href="{{ url_for('translate.translate_selectlang', appid=app.unique_id) }}">« Go Back to Step 2</a>

                              <button type="submit" id="sendurlbtn" name="sendurl" class="btn btn-success">Step 2 - Select language »</button>

                              <!--
                              <a class="btn btn-success" id="sendlangsbtn" href="#end">Save</a>
                              -->
                            </div>
                          </div>
                        </fieldset>
                      </form>
                    </div>


                </div>
                <div class="tab-pane fade" id="preview">
                  <p>Final widget is rendered here.</p>
                </div>
              </div>                                          
            </div><!-- bs-example -->
                        
          </div>
            
          </div>
        </div>
  

{% endblock %}
