{% set title = "AppComposer translation tool" %}
{% set current_link = "home" %}
{% set current_composer = "translate" %}
{% extends 'composers/translate/layout.html' %}
{% block body_content %}
    <div class="translateblock" ng-app="translateIndex" ng-controller="NextStepCtrl">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">

                <mng-advanced-mode advanced-mode="advancedMode"></mng-advanced-mode>

                <h1 id="apptitle">{{ gettext("Translate") }}</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <legend>{{ gettext("Step 1 - App creation") }}</legend>
            <div class="well" style="width: 100%">

                <legend>{{ gettext("Choose an application to translate: ") }}</legend>

                <p id="loading-msg"
                   class="alert alert-info">{{ gettext("Please, wait. Loading the list of Apps could take a while. You can also add your own URL through the <i>Advanced Mode</i>.") }}
                <table id="appsearch-table" class="appsearch-table display compact" cellspacing="0" width="100%"
                       style="">
                    <thead>
                    <tr>
                        <th>{{ gettext("Title") }}</th>
                        <th>{{ gettext("Description") }}</th>
                        <th>{{ gettext("Type") }}</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>{{ gettext("Title") }}</th>
                        <th>{{ gettext("Description") }}</th>
                        <th>{{ gettext("Type") }}</th>
                    </tr>
                    </tfoot>
                    <tbody>

                    </tbody>
                </table>

                <form name="nextStepForm" class="form-horizontal" id="geturl" name="geturl"
                      action="{{ url_for('translate.translate_selectlang') }}" method="POST" novalidate>
                    <fieldset>


                        <div id="app-advanced-details" ng-show="advancedMode" style="">

                            <div class="form-group">
                                <label for="appurl" class="col-lg-1 control-label">{{ gettext("URL") }}</label>

                                <div class="col-lg-10">
                                    <input ng-model="url" required type="text" id="appurl" name="appurl" class="form-control"
                                           placeholder="{{ gettext("URL of the app") }}">
                                    <span class="help-block">{{ gettext("The URL of the app you want to translate.") }}</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="appname" class="col-lg-1 control-label">{{ gettext("Name") }}</label>

                                <div class="col-lg-10">
                                    <input ng-model="name" required type="text" id="appname" name="appname" class="form-control"
                                           placeholder="{{ gettext("Name of the app") }}">
                                    <span class="help-block">{{ gettext("The name of the new app that will be created.") }}</span>
                                </div>
                            </div>

                        </div>


                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <div class="alert alert-error">
                                    {% for message in messages %}
                                        <p>{{ message }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endwith %}

                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-0">
                                <label class="control-label" for="selectlang"></label>

                                <div class="controls">

                                    <p id="notfilled-message" class="text-danger" ng-hide="isValid()">
                                        {{ gettext("Please, choose an app or provide a name and URL") }}
                                    </p>

                                    <button ng-disabled="!isValid()" type="submit" id="sendurlbtn" name="sendurl"
                                            class="btn btn-success">{{ gettext("Step 2 - Select language »") }}</button>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    {{ csrf_field()|safe }}

                </form>
            </div>
        </div>
    </div>

{% endblock %}


{% block scripts %}
    {{ super() }}



    <!-- AngularJS code -->
    <script type="text/javascript">

        // Create a selectLang module for this app.
        var translateIndex = angular.module("translateIndex", ["mngCommon"]);

        var nextStepCtrl = translateIndex.controller("NextStepCtrl", ["$scope", function($scope){
            $scope.isValid = function() {
                var valid = $scope.nextStepForm.appurl.$valid && $scope.nextStepForm.appname.$valid;
                return valid;
            }
        }]);

    </script>




    <script type="text/javascript">

        // Called whenever a row in the AppSearch table is selected.
        function onRowSelected(row) {
            var fulldata = AppsearchData[row.index()];
            $("#appurl").val(fulldata["app_url"]);
            $("#appname").val(fulldata["title"]);

            $("#appurl").trigger("input");
            $("#appname").trigger("input");

        } //! onRowSelected

        $(document).ready(function () {

            // Initialize the AppSearch table and fill the values through AJAX.

            // To remember which item is selected (if any).
            var selected = undefined;

            appsearch = $("#appsearch-table").DataTable(
                    {
                        language: {
                            "search": "{{ gettext("Search:") }}",
                            "processing": "{{ gettext("Processing...") }}",
                            "info": "{{ gettext("Showing page _PAGE_ of _PAGES_") }}",
                            "lengthMenu": "{{ gettext("Display _MENU_ records per page") }}",
                            "zeroRecords": "{{ gettext("Nothing found") }}",
                            "infoEmpty": "{{ gettext("No records available") }}",
                            "infoFiltered": "{{ gettext("(filtered from _MAX_ total records)") }}",
                            "paginate": {
                                first: "{{ gettext("First") }}",
                                previous: "{{ gettext("Previous") }}",
                                next: "{{ gettext("Next") }}",
                                last: "{{ gettext("Last") }}"
                            }

                        },
                        autoWidth: false,
                        lengthChange: true,
                        columnDefs: [
                            {
                                "targets": 2,
                                "sortable": false,
                                "width": "50%"
                            }
                        ]
                    }
            );


            $.getJSON("{{ url_for("translate.appslist_proxy") }}")
                    .done(function (data) {
                        console.log("AppsList retrieved");

                        $("#loading-msg").fadeOut(300);

                        var apps = data;

                        AppsearchData = apps;

                        for (var i = 0; i < apps.length; i++) {
                            var app = apps[i];

                            // Make the description shorter if needed.
                            var desc = app["description"];
                            if (desc.length > 50)
                                desc = desc.substring(0, 50) + "...";

                            appsearch.row.add([app["title"], desc, app["app_type"]]);

                            var desc_td = appsearch.cell(i, 1).node();
                            $(desc_td).attr("title", app["description"]);
                        }

                        appsearch.draw();

                        {# This needs to be done after the table is drawn because otherwise the events don't work. #}
                        {# TODO: Find a work-around. There is probably a prettier way. #}
                        $('#appsearch-table tbody').on('click', 'tr', function () {
                            console.debug("CLICK");

                            var tr = this;
                            row = appsearch.row(tr);

                            if (selected !== undefined) {
                                $(selected).removeClass("selected");
                            }

                            selected = row.node();

                            onRowSelected(row);

                            // It is advisable to not toggle until all the callbacks are called, so that in the
                            // selenium tests we can use the presence or absence of "selected" to Wait().
                            $(row.node()).toggleClass("selected");
                        });
                    });

        }); //! ready()
    </script>


{% endblock %}
