{% set title = "Translation tool :: Source and Target language" %}
{% set current_link = "home" %}
{% extends 'composers/translate/layout.html' %}


{% block body_content %}





    <div class="translateblock">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1 id="apptitle">Proposals for this App</h1>

                {% if app %}
                    <h2 id="appfullname">{{ app.name }}</h2>
                {% else %}
                    <h2 id="appfullname">[App name not available]</h2>
                {% endif %}

            </div>
        </div>
    </div>





    <!-- Forms
    ================================================== -->
    <div class="well">

        <div class="row">
            <div class="col-lg-12">
                <form class="form-horizontal" id="merge" name="merge"
                      action="#" method="POST">

                    {# This is necessary so that the next page knows which App to load. #}
                    <input type="hidden" name="appid" value="{{ app.unique_id }}"/>

                    {# Value set from JavaScript #}
                    <input type="hidden" id="data" name="data" value=""/>

                    {% if proposals|length > 0 %}
                    <legend>Select a proposal and choose or edit the translations</legend>
                    {% else %}
                    <legend>There are currently no translation proposals for this app</legend>
                    {% endif %}

                    <div class="col-lg-4 col-md-4">


                        <div class="form-group">
                            <label class="control-label" for="proposals">Select the translation ({{ proposals|length }})</label>

                            <select size="20" id="proposals" multiple="" name="proposals" class="form-control">

                                {% for proposal in proposals %}
                                <option value="{{ proposal["id"] }}">{{ proposal["from"] }}'s {{ proposal["bundle_code"] }} </option>
                                {% endfor %}

                            </select>
                        </div>


                        <div class="form-group">
                            <div class="controls">
                                <!--<span class="help-block">You want to translate the app from General English into Elementary School German.</span>-->
                                <a class="btn btn-default" id="backtoindexbtn"
                                   href="{{ url_for('translate.translate_selectlang', appid=app.unique_id) }}">« Go Back</a>

                                <button type="submit" id="acceptButton" name="acceptButton" class="btn btn-success">
                                    Accept
                                </button>

                                <button type="submit" id="denyButton" name="denyButton" class="btn btn-warning">
                                    Discard
                                </button>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-8 col-md-8">

                        <label class="control-label" id="previewlabel" for="preview">Preview</label>
                        <!--<textarea rows="1" readonly class="uneditable-input" style="width:100%;height:100%" id="preview"></textarea>
                        -->


                        <div id="preview_div">

                            <div class="input-group" style="padding-bottom: 10px">
                                <span class="input-group-addon">Blue</span>
                                <input type="text" class="form-control" value="Blue" style="background-color: silver"/>
                                <input type="text" class="form-control" value="Blue" style="background-color: red"/>
                                <span class="input-group-addon glyphicon glyphicon-ok"/>
                            </div>

                            <!-- To be filled through JavaScript -->
                        </div>

                    </div>

                </form>

            </div>





        </div>
    </div>




{% endblock %}

{% block scripts %}

    {{ super() }}
    <script type="text/javascript">

    var COLOR_NOT_CHANGED = "#C3F7D7";
    var COLOR_CHANGED = "#F7C3D3";
    var COLOR_ADDED = "#F7F6C3";

    $(document).ready( function() {

        // Clean up the preview div.
        $("#preview_div").html("");

        var proposal = $("#proposals");

        var options = proposal.find("option");
        var numProposals = options.length;

        if (numProposals == 0)
        {
            var submits = $("button[type=submit]");
            submits.attr("disabled", "disabled");
            submits.prop("disabled", true);
        }
        else
        {
            $(options[0]).attr("selected", "selected");

            // Initialize the preview.
            loadPreview($(options[0]).val());
        }

        // Listen for selection events.
        proposal.change( function(event) {
            var selected = proposal.find(":selected").val();
            loadPreview(selected);
        });

        // Prepare to intercept the Accept button so that we can build
        // the actual request.
        //
        // Figure out which button is clicked.
        $("form button[type=submit]").click(function() {
            $("button[type=submit]", $(this).parents("form")).removeAttr("clicked");
            $(this).attr("clicked", "true");
        });

        $("#merge").submit(onAcceptSubmit);
    });


    // Function that intercepts clicks on Accept before the submit
    // POST actually takes place.
    function onAcceptSubmit(event)
    {
        var clickedButton = $("button[type=submit][clicked=true]");
        if(clickedButton[0].id == "acceptButton")
        {
            var elements = $("#preview_div div");
            var dict = {};

            elements.each(function(index){
                var key = this.children[0].innerText;
                var value = this.children[2].value;
                var enabled = $(this.children[3]).hasClass("glyphicon-ok");

                if(enabled)
                {
                    dict[key] = value;
                }
            });

            // Store the data as a JSON on the hidden field created for that purpose.
            $("#data").val(JSON.stringify(dict));
        }
    }


    function loadPreview(translationCode)
    {
        // console.log("Loading Preview: " + translationCode);
        var requestURL = "{{ url_for(".get_proposal", _external=True) }}";

        var previewDiv = $("#preview_div");

        // Clean old elements within the div, we need load new ones.
        previewDiv.html("");

        $("#previewlabel").text("Translation (Loading...)");

        $.getJSON( requestURL+"?proposal_id="+translationCode, function(data){
            dbgel = data;
            var messages = data["proposal"]["bundle_contents"]["messages"];
            var originals = data.original;

            $("#previewlabel").text("Translation");
            $.each(messages, function(ident, newMsg){

                // Find the original msg (undefined if it doesn't exist).
                var origMsg = originals[ident];

                addMessage(previewDiv, ident, newMsg, origMsg, true);
            });
        } );
    }


    function addMessage(parent_div, ident, newMsg, origMsg, tickOn)
    {
        // Calculate the color for the fields
        var proposedColor;
        if(origMsg == undefined)
            proposedColor = COLOR_ADDED;
        else if(origMsg === newMsg)
            proposedColor = COLOR_NOT_CHANGED;
        else
            proposedColor = COLOR_CHANGED;

        // Do not show "undefined"
        if(origMsg == undefined)
            origMsg = "";

        // Define the tick
        var tickSpan;
        if(tickOn)
            tickSpan = $('<span class="btn btn-lg btn-success input-group-addon glyphicon glyphicon-ok" />');
        else
            tickSpan = $('<span class="btn btn-lg btn-danger input-group-addon glyphicon glyphicon-remove"/>');


        {# TODO: Add XSS protection etc. #}
        var labelspan = '<span class="input-group-addon">' + ident + '</span>';
        var inputOriginal = '<input type="text" readonly class="form-control" style="background-color:#DEDEDE" value="' + origMsg + '"/>';
        var inputProposed = '<input type="text" class="form-control" style="background-color:' + proposedColor +'" value="' + newMsg + '"/>';
        var tick = tickSpan;

        var wrapping_div = $('<div name="mytestdiv" class="input-group" style="padding-bottom: 10px">').appendTo(parent_div);
        wrapping_div
                .append(labelspan)
                .append(inputOriginal)
                .append(inputProposed)
                .append(tick);

        // Register click event so that the tick acts as a button.
        tick.click(function(event){
            ev = event;
            var target = $(ev.target);

            if(target.hasClass("btn-success"))
            {
                ev.target.parentNode.style.opacity = 0.4;
                target.removeClass("btn-success");
                target.removeClass("glyphicon-ok");
                target.addClass("btn-danger");
                target.addClass("glyphicon-remove");
            }
            else
            {
                ev.target.parentNode.style.opacity = 1;
                target.removeClass("btn-danger");
                target.removeClass("glyphicon-remove");
                target.addClass("btn-success");
                target.addClass("glyphicon-ok");
            }
        });
    }

    </script>

{% endblock %}