{% set title = "Translation tool :: Source and Target language" %}
{% set current_link = "home" %}
{% extends 'composers/translate/layout.html' %}

{# We use this macro for the forms that let the user choose a group. Groups global var must be passed
 to the template for this to work. #}
{%  macro render_options_for_groups() -%}
    {% for group in groups %}
        <option {% if loop.index0 == 0 %}selected="selected"{% endif %} value="{{ group[0] }}">{{ group[1] }}</option>
    {% endfor %}
{%- endmacro %}


{% block body_content %}
        <div class="translateblock">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-header">
                        <h1 id="apptitle">Translate</h1>

                        {% if app %}
                            <h2 id="appfullname">{{ app.name }}</h2>
                        {% else %}
                            <h2 id="appfullname">[App name not available]</h2>
                        {% endif %}
                    </div>
                </div>
            </div>




      <!-- Forms
      ================================================== -->
      <div class="well">

        <div class="row">
        <div class="col-lg-12">
          <form class="form-horizontal" id="getlangs" name="getlangs" action="{{ url_for('translate.translate_edit') }}" method="GET">

          {# This is necessary so that the next page knows which App to load. #}
          <input type="hidden" name="appid" value="{{ app.unique_id }}"/>

          <legend>Step 2: Select the source and target language</legend>
                              
          <div class="col-lg-6 col-md-6">

                <div class="form-group">
                    <label class="control-label" for="srclang">Select source language</label>
                      <select id="srclang" multiple="" name="srclang" class="form-control">
                          <option selected="selected" value="all_ALL">DEFAULT</option>
                          {% for loc in locales if loc["lang"] != 'all' and loc["country"] != 'all' %}
                          <option value="{{ loc['code'] }}">{{ loc['repr'] or loc['code'] }}</option>
                          {% endfor %}
                      </select>
                </div>
                <div class="form-group">
                    <label class="control-label" for="targetlang">Select target language</label>
                        <select id="targetlang"  multiple="" name="targetlang" class="form-control">
                            <option value="all_ALL" selected="selected">DEFAULT</option>
                            {% for lang in target_langs %}
                            <option value="{{ lang["code"] }}">{{ lang["repr"] }}</option>
                            {% endfor %}
                        </select>
                </div>              
          </div>
          
          <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label class="control-label" for="srcgroup">Select source group</label>
                      <select id="srcgroup" multiple="" name="srcgroup" class="form-control">
                        {{ render_options_for_groups() }}
                      </select>
                </div>
                <div class="form-group">
                    <label class="control-label" for="targetgroup">Select target group</label>
                      <select id="targetgroup" multiple="" name="targetgroup" class="form-control">
                          {{ render_options_for_groups() }}
                      </select>
                </div>                
                <div class="form-group">                 
                  <div class="controls">
                    <span class="help-block">You want to translate the app from General English into Elementary School German.</span>
                    <a class="btn btn-default" id="backtoindexbtn" href="{{ url_for('translate.translate_index') }}">« Go Back to Step 1</a>                                   

                    <button type="submit" id="sendurlbtn" name="sendurl" class="btn btn-success">Step 2 - Select language »</button>
                    <!--
                    <a class="btn btn-success" id="sendlangsbtn" href="{{ url_for('translate.translate_edit') }}">Step 3 - Translate »</a>
                    -->
                  </div>
                </div>                
                
              
          </div>
          </form>
          
        </div>
        </div>
      </div>


                   
            
{% endblock %}
