<div class="modal-header">
    <h1 class="modal-title">Change source language</h1>
</div>
<div class="modal-body">

    <div class="row">


        <div class="col-xs-12">
            <form role="form">
                <label ac-translate-me>Language: </label>

                <select size="6" ng-model="selected.lang"
                        ng-options="lang as info['name'] for (lang, info) in appinfo.translations"
                        class="form-control">
                </select>
            </form>
        </div>

        <!--
        <div class="col-xs-6">
            <form role="form">

                <label ng-if="selected.lang"> {{ ('Target'|translate) +
                    ' (' + appinfo.translations[selected.lang].name + ')' }} </label>

                <label ng-if="!selected.lang"> {{ ('Target'|translate) }} </label>

                <select size="6" ng-model="selected.target"
                        ng-options="group as info['name'] for (group, info) in selected.lang_info.targets"
                        class="form-control">
                </select>
            </form>
        </div>
        -->

    </div>


</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>