{% set title = "Edit the app content" %}
{% set adaptor_type = "JS Config" %}
{% extends 'composers/adapt/edit.html' %}

{% block edit_tab %}
    <div class="col-lg-10">
        <form class="form" action="." method="POST" >
            Widget URL: <input type="text" name="url" size="100" value="{{ url }}"/><br/> 
            JavaScript Configuration Panel: <input type="text" name="configuration_url" size="100" value="{{ configuration_url }}"/> <input type="submit" class="btn btn-primary" value="Save"/>
        </form>
        <div id='appcomposer_config_panel'>
        </div>
    </div>
{% endblock %}

{% block preview_tab %}
    <div class="col-lg-10">
        {% if url %}
            <iframe src="{{ preview_url }}" width="750" height="590" frameborder="1px solid gray" scrolling="no"></iframe>
            <br>
            <a target="_blank" href="{{ url_for('.app_xml', app_id = app_id, _external = True) }}">App URL</a>
            <!-- <a target="_blank" href="{{ preview_url }}">Preview URL</a> -->
        {% else %}
            <div class="alert alert-danger">
                <h3>No preview available: you must set a URL first</h3>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% if configuration_url %}
        <script type="text/javascript">
            function golabConfigurationSavedCallback(newConfiguration) {
                var url = "{{ url_for('.save_json_config', app_id = app_id) }}";
                // TODO: add json2.js if MSIE
                $.post(url, JSON.stringify(newConfiguration)).done(function() { location.reload(); });
            }
        </script>
        <script src="{{ configuration_url }}" type="text/javascript"></script>
    {% endif %}
{% endblock %}
