{% extends "embed/base-logged.html" %}

{% if form.height.data %}
    {% set initial_height = form.height.data %}
{% else %}
    {% set initial_height = 900 %}
{% endif %}

{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename='bootstrap-slider.min.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    {{ super() }}
    {% from "embed/_form_helpers.html" import render_field %}
   
    <div class="row" ng-controller="EmbedScreenController">
        <div class="col-lg-10 col-lg-offset-1">
            <h1>{{ header_message }}</h1>
                <form method="POST" action="{{ request.url }}" class="form-horizontal" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}

                    <fieldset>
                        {{ render_field(form.name) }}
                        {{ render_field(form.url) }}

                        <div class="text-center">
                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary">{{ gettext("Save") }}</button>
                                <a href="{{ url_for('.index') }}" class="btn btn-danger">{{ gettext("Cancel") }}</a>
                            </div>
                        </div>
                    </fieldset>
                </form>
                <br><br>
                <div ng-cloak ng-show="embed.url.length > 0" id="slider_container" style="width: 100%">
                    <input id="slider" style="width: 100%" data-slider-id='height_slider' type="text" data-slider-min="0" data-slider-max="2000" data-slider-step="10" data-slider-value="{{ initial_height }}"/>
                    <iframe {% raw %}ng-src="{{embed.url|trustAsResourceUrl}}" {% endraw %} frameborder='no' id='iframe' width='100%' height='{{ initial_height }}px'></iframe>
                </div>
        </div>
    </div>

{% endblock %}

{% block tail %}
    {{ super() }}
    <script src="{{ url_for('static', filename="bootstrap-slider.min.js") }}"></script>
    <script src="{{ url_for('static', filename="js/angular.min.js") }}"></script>
    <script>
        angular
                .module("embedScreen", [])
                .filter('trustAsResourceUrl', ['$sce', function($sce) {
                    return function(val) {
                        return $sce.trustAsResourceUrl(val);
                    };
                }]) 
                .controller("EmbedScreenController", EmbedScreenController);

        function EmbedScreenController($scope, $sce) {
            $scope.embed = {
                url: "",
                height: {{ initial_height }}
            };
            {% if form.url.data %}
            $scope.embed.url = "{{ form.url.data }}";
            {% endif %}
        }

        $("input[name='height']").val({{ initial_height }});

        $('#slider').slider({
            formatter: function(value) {
                return 'Current value: ' + value;
            }
        }).on("slide", function(evt) {
            $("#iframe").attr("height", (evt.value + 10) + "px");
            // $scope.embed.height = evt.value;
            // TODO: the code above should be necessary
            $("input[name='height']").val(evt.value);
        });

        angular.element(document).ready(function () {
            angular.bootstrap(document, ['embedScreen']);
        });
    </script>
{% endblock %}

