{% extends "embed/base-logged.html" %}

{% block body %}
    {{ super() }}
    {% from "embed/_form_helpers.html" import render_field %}
   
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <h1>Add a web</h1>
                <form method="POST" action="{{ request.url }}" class="form-horizontal" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}

                    <fieldset>
                        {{ render_field(form.name) }}
                        {{ render_field(form.url) }}

                        <div class="text-center">
                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary">{{ gettext("Save") }}</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
        </div>
    </div>

{% endblock %}
