
body {
    margin: 30px;
}

/* Nobile-only screen size. We remove the paddings etc. */
@media (max-width: 480px) {
    .container {
        padding: 0;
        margin: 0;
    }

    .container-fluid {
        padding: 0;
        margin: 0;
    }

    body {
        margin: 0px;
        padding: 0px;
    }
}  /* ! mobile-only media query */


.my-app-thumbnail-img {
    width: 35px;
    height: 35px;
}

.my-app-thumbnail {
}

.my-thumbnail-wrapper {
    display: inline-block;
    vertical-align: middle;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/*.my-row-highlight {*/
    /*background-color: #AAAAEE !important;*/
/*}*/

/*.my-disabled-hover * {*/
    /* To somewhat disable hover effect on datatables childrens (tables for detail) */
    /* Does not work perfectly, but for now it should do */
    /*background-color: inherit !important;*/
/*}*/



/*.dl-horizontal dt{*/
    /*text-align: left;*/
    /*margin-bottom: 1em;*/
    /*width: auto;*/
    /*padding-right: 1em;*/
/*}*/

/*.dl-horizontal dd{*/
    /*margin-left: 0;*/
    /*margin-bottom: 1em;*/
/*}*/


dd {
    padding-bottom: 10px;
}


h1 img.app-title-thumb {
    width: 50px;
    height: 50px;
}


/*-------------------------
GENERAL LAYOUT
--------------------------*/

.ac-header-right {
    float: right;
}

.ac-btn-left {
    float: left;
}

/*-------------------------
GENERAL TYPESETTING
--------------------------*/

.ac-text-danger {
    color: #AA3333;
}

.ac-text-warning {

}

/* To contain errors. */
.ac-error-box {
    border: 1px solid #AA3333;
    border-radius: 2px;
    background-color: #F0E0E0;
    padding-left: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/*-------------------------
FOR THE APPS SCREEN
--------------------------*/

.ac-category-pills {
    margin-bottom: 15px;
    margin-top: -10px;
}


/*-------------------------
FOR THE APP / EDIT SCREEN
---------------------------*/


/* App screen badges */
.ac-lang-badge {
    color: rgb(50, 50, 50);
    margin-left: 2px;
    margin-right: 2px;
}

.ac-badge-complete {
    /*background-color: rgb(190, 230, 190);*/
    border: 2px solid black !important;
}

.ac-badge-incomplete {
    /*background-color: rgb(230, 170, 170);*/
}

.ac-badge-original {
    border: none;
}

.ac-badge-icon-locked {
    color: rgb(80, 80, 80);
}



.ac-app-description {
    padding-top: 10px;
    padding-bottom: 10px;
}

.fa.form-control-feedback.ac-fa-control-feedback {
    font-size: 25px;
    top: 5px;
}

.ac-edit-change-source {
    text-align: left;

    color: #0000FF;
    text-decoration: underline;
    cursor: pointer;
}

label.ac-edit-message-label {
    text-align: left !important;
}

.ac-edit-message-form-group {

}


/* textAngular editor */
.ta-editor {
    min-height: 300px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
    margin:20px 0;
}

.ta-readonly {
    background-color: #dddddd;
}


.ac-edit-message-input-disabled {
    background-color: rgb(230, 230, 230) !important;
}

.ac-edit-message-input-from-default {
    background-color: rgb(240, 230, 230) !important;
}

.ac-icon-error {
    color: rgb(180, 20, 20) !important;
}

.ac-edit-message-error {
    color: rgb(180, 20, 20);
}

span[name=ac-saved-icon] {
    color: gray;
}

span[name=ac-original-icon] {
    color: gray;
    position: absolute !important;
    right: 48px !important;
}

.ac-edit-message-details {
    display: block;
    position: relative;
    border: 1px solid #AAAAAA;
    border-radius: 3px;
    background-color: #F0F0FF;
    padding-left: 15px;
    padding-right: 15px;
    margin: 2px 5px 5px 2px;
}

.ac-edit-message-details input {
    display: inline-block;
    float: right;
}

.ac-edit-message-details-close-btn {
    margin-bottom: 15px;
}


.ac-edit-suggestion-select>option:empty {
    display:none;
}

.ac-from-default-warning {
    margin-top: 10px;
}



/* DATA TABLES HOVER FIX */

.my-disabled-hover div div {
    background-color: rgb(255, 255, 255);
}

.my-disabled-hover div div:hover {
    background-color: rgb(255, 255, 255);
}

table.dataTable.hover tbody tr:hover, table.dataTable.hover tbody tr.odd:hover, table.dataTable.hover tbody tr.even:hover, table.dataTable.display tbody tr:hover, table.dataTable.display tbody tr.odd:hover, table.dataTable.display tbody tr.even:hover {
    background-color: rgb(255, 255, 255);
}

table.dataTable tbody tr[ng-click]:hover {
    background-color: rgb(180, 180, 209) !important;
}




/* COLLABORATOR DIRECTIVES AND THE LIKE */

.ac-collaborators {
    margin-left: -5px;
    margin-right: -5px;
    border: 0px solid green;
    background-color: rgb(210, 210, 255);
    padding-left: 7px;
    padding-right: 7px;
}


.ac-collaborators-description {
    display: inline-block;
    vertical-align: middle;
    height: 40px;
    line-height: 40px;
}

.ac-collaborator {
    display: inline-block;
    border: 0px solid red;
    width: 40px;
    height: 40px;
}

img.ac-gravatar-img {
    border-color: rgb(180, 180, 180);
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    width: 40px;
    height: 40px;
}

.ac-collaborators-test {
    border: 1px solid green;
    display: inline-block;
    width: 60px;
    height: 60px;
}





/* PREVIEW IFRAME */

.ac-preview-iframe {
    width: 100%;
}


.ac-preview-iframe-wrapper {

}



/* APP DETAILS */

.ac-translation-percent {
    margin: 0px;
    border-radius: 0px;
    border: 1px solid rgb(125, 125, 209);
    box-shadow: none;
    max-width: 400px;
}
