
body {
    margin: 30px;
}

.my-app-thumbnail-img {
    width: 35px;
    height: 35px;
}

.my-app-thumbnail {
}

.my-thumbnail-wrapper {
    display: inline-block;
    vertical-align: middle;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/*.my-row-highlight {*/
    /*background-color: #AAAAEE !important;*/
/*}*/

/*.my-disabled-hover * {*/
    /* To somewhat disable hover effect on datatables childrens (tables for detail) */
    /* Does not work perfectly, but for now it should do */
    /*background-color: inherit !important;*/
/*}*/



/*.dl-horizontal dt{*/
    /*text-align: left;*/
    /*margin-bottom: 1em;*/
    /*width: auto;*/
    /*padding-right: 1em;*/
/*}*/

/*.dl-horizontal dd{*/
    /*margin-left: 0;*/
    /*margin-bottom: 1em;*/
/*}*/


dd {
    padding-bottom: 10px;
}


h1 img.app-title-thumb {
    width: 50px;
    height: 50px;
}


/*-------------------------
GENERAL LAYOUT
--------------------------*/

.ac-header-right {
    float: right;
}

/*-------------------------
GENERAL TYPESETTING
--------------------------*/

.ac-text-danger {
    color: #AA3333;
}

/* To contain errors. */
.ac-error-box {
    border: 1px solid #AA3333;
    border-radius: 2px;
    background-color: #F0E0E0;
    padding-left: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
}



/*-------------------------
FOR THE APP / EDIT SCREEN
---------------------------*/

.fa.form-control-feedback.ac-fa-control-feedback {
    font-size: 25px;
    top: 5px;
}

.ac-edit-change-source {
    text-align: left;

    color: #0000FF;
    text-decoration: underline;
    cursor: pointer;
}

label.ac-edit-message-label {
    text-align: left !important;
}

.ac-edit-message-form-group {

}

span[name=ac-saved-icon] {
    color: gray;
}

.ac-edit-message-details {
    border: 1px solid #AAAAAA;
    border-radius: 3px;
    background-color: #F0F0FF;
    padding-left: 15px;
    padding-right: 15px;
    margin: 2px 5px 5px 2px;
}


.ac-edit-suggestion-select>option:empty {
    display:none;
}

