
.my-app-thumbnail-img {
    width: 35px;
    height: 35px;
}

.my-app-thumbnail {
}

.my-thumbnail-wrapper {
    display: inline-block;
    vertical-align: middle;
}


/*.my-row-highlight {*/
    /*background-color: #AAAAEE !important;*/
/*}*/

/*.my-disabled-hover * {*/
    /* To somewhat disable hover effect on datatables childrens (tables for detail) */
    /* Does not work perfectly, but for now it should do */
    /*background-color: inherit !important;*/
/*}*/