# Configuration example

import logging
import os

# In Windows one less '/' is needed. For instance:
# SQLALCHEMY_DATABASE_URI = 'sqlite:////%s/database.db' % os.getcwd() (WINDOWS ONLY)

SQLALCHEMY_DATABASE_URI = 'sqlite:////%s/database.db' % os.getcwd()
USE_PYMYSQL = False

# IMPORTANT: Each login app is bound to a particular system (i.e., it contains the URL of the particular appcomposer).
# The administrator must create this login app and put it here. So as to create it, set SHOW_LOGIN_APP_CREATION to True
# follow the instructions in the login screen, make the URL public and configure it in this file. Then, set 
# SHOW_LOGIN_APP_CREATION again to False. This procedure will not work if you deploy the system in localhost (since
# Graasp will not be able to access it).
GRAASP_LOGIN_APP = 'https://graasp.epfl.ch/#url=appcomposer_pablo'
SHOW_LOGIN_APP_CREATION = False

# By default, the translator is not active
ACTIVATE_TRANSLATOR = False

# By default, the translator 2 (in development) is not active
ACTIVATE_TRANSLATOR2 = False

# By default, the translator's MongoDB pushes are not active
ACTIVATE_TRANSLATOR_MONGODB_PUSHES = False

# MongoDB pushes URI. Not used unless the MongoDB pushes are enabled.
MONGODB_PUSHES_URI = "mongodb://localhost"

# How often to sync the database. In the case here, sync the whole database
# every hour (3600 seconds).
# Note that this is an expensive operation.
MONGODB_SYNC_PERIOD = 3600

# Adaptor plug-ins (the defaults are loaded by default)
ADAPT_PLUGINS = []


# Where will the notification mails come from.
SENDER_ADDR = "APPCOMPOSER@no-reply.com"

# SMTP Server through which to send mails.
SMTP_SERVER = None

# List of Admins to send mails to when an error occurs.
ADMINS = []

# Logfile
LOGFILE = "logfile.log"

APPCOMP_LOGGING_LEVEL = "WARNING"

NGAPPS_DEV_MODE = False
