Flask==0.9
Flask-Admin==1.0.8
Flask-Login==0.2.2
Flask-SQLAlchemy==0.16
Flask-WTF==0.8.3
Flask-BabelEx==0.9.1
Flask-DebugToolbar==0.9.0
PyMySQL==0.5
pymysql-sa==1.0
SQLAlchemy==0.8.2
alembic==0.7.4
pyflakes==0.5.0
babel
nose
requests==2.3.0
selenium==2.44.0
