<div ng-show="dependencies && dependencies.length > 0">

    <div>
        <h3 translate>Application Dependencies:</h3>
    </div>

    <div ng-repeat="dep in dependencies">
        <div style="padding: 5px">
            <h4><a ng-href="{{ dep.link }}">{{ dep.title }}</a></h4>

            <a ng-href="#/edit/{{ dep.lang }}/{{ dep.target }}/{{ dep.app_url }}">
                <div class="btn btn-success">
                    <i class="fa fa-edit"></i>
                        <span>{{ 'Edit translation' | translate }}</span>
                </div>
            </a>

            <div style="padding-bottom: 20px"></div>

            <dt translate>Translated:</dt>
            <dd>
                <progressbar class="ac-translation-percent" animate="false" value="dep.percent" type="success">
                    <span ng-if="dep.percent > 15">{{ dep.translated }} / {{ dep.items }} ({{ dep.percent.toFixed(2) }}%)</span>
                </progressbar>
                <span ng-if="dep.percent <= 15">{{ dep.translated }} / {{ dep.items }} ({{ dep.percent.toFixed(2) }}%)</span>
            </dd>
        </div>


    </div>

</div>
