<div ng-show="dependencies && dependencies.length > 0">

    <div>
        <h3 translate>Application Dependencies:</h3>
        <p translate>This application relies on the following dependencies, so only if they are also translated the app will be completely translated. Please check that they are also translated:</p>
    </div>

    <div ng-repeat="dep in dependencies">
        <div style="padding: 5px">
            <h4><a ng-href="{{ dep.link }}">{{ dep.title }}</a></h4>

            <a ng-href="#/edit/{{ lang }}/{{ target }}/{{ dep.app_url }}" ng-show="lang !== 'en_ALL'">
                <div class="btn btn-success">
                    <i class="fa fa-edit"></i>
                        <span>{{ 'Edit translation' | translate }}</span>
                </div>
            </a>

            <div class="btn btn-success disabled" ng-show="lang === 'en_ALL'">
                <i class="fa fa-edit"></i>
                <span>{{ 'Select language first' | translate }}</span>
            </div>

            <div style="padding-bottom: 20px"></div>

            <dt translate>Translated:</dt>
            <dd>
                <progressbar class="ac-translation-percent" animate="false" value="dep.percent" type="success">
                    <span ng-if="dep.percent > 15">{{ dep.translated }} / {{ dep.items }} ({{ dep.percent.toFixed(2) }}%)</span>
                </progressbar>
                <span ng-if="dep.percent <= 15">{{ dep.translated }} / {{ dep.items }} ({{ dep.percent.toFixed(2) }}%)</span>
            </dd>
        </div>


    </div>

</div>
