<div class="col-md-3 col-sm-6">
    <form role="form">
        <div class="form-group">
            <label class="label-header" for="langSelectControl" class="control-label" ac-translate-me>Language:</label>
            <select id="langSelectControl" size="6" ng-model="selected.lang"
                    ng-options="lang as info['name'] for (lang, info) in appinfo.translations"
                    class="form-control">
            </select>
        </div>

        <div style="padding-top: 20px">
            <ui-select ng-model="add.lang" theme="select2" style="min-width: 200px; padding-bottom: 5px">
                <ui-select-match placeholder="Select a new language">
                    {{ all_languages[add.lang] }}</ui-select-match>
                <!-- we get all_languages from $parent because otherwise it doesn't seem to work -->
                <ui-select-choices repeat="lang in languagesThatCanBeAdded()">
                    <div ng-bind-html="all_languages[lang] | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>

            <button ng-disabled="!add.lang" ng-click="addNewLanguage()" class="btn btn-success"
                    style="padding: 3px 9px 3px 9px"><i
                    class="fa fa-plus" style=""></i> Add new
            </button>

            <div ng-show="addLanguageError">
                <p class="ac-text-danger ac-error-box">{{ addLanguageError }}</p>
            </div>

        </div>

    </form>
</div>

<!--
<div class="col-md-3 col-sm-6">
    <form role="form">

        <div class="form-group">
            <label class="label-header" for="groupSelectControl" ng-if="selected.lang"> {{ ('Target'|translate) + ' (' + appinfo.translations[selected.lang].name + '):' }} </label>
            <label class="label-header" for="groupSelectControl" ng-if="!selected.lang"> {{ ('Target'|translate) }}: </label>

            <select id="groupSelectControl" size="6" ng-model="selected.target"
                    ng-options="group as info['name'] for (group, info) in selected.lang_info.targets"
                    class="form-control">
            </select>
        </div>

        <div style="padding-top: 20px">
            <ui-select ng-model="add.group" theme="select2" style="min-width: 200px; padding-bottom: 5px">
                <ui-select-match placeholder="Select a new group">
                    {{ all_groups[add.group] }}</ui-select-match>
                <ui-select-choices repeat="group in groupsThatCanBeAdded()">
                    <div ng-bind-html="all_groups[group] | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>

            <button ng-disabled="!add.group" ng-click="addNewGroup()" class="btn btn-success"
                    style="padding: 3px 9px 3px 9px"><i
                    class="fa fa-plus" style=""></i> Add new
            </button>

            <div ng-show="addGroupError">
                <p class="ac-text-danger ac-error-box">{{ addGroupError }}</p>
            </div>

        </div>

    </form>
</div>
-->