<div class="row" ng-controller="TranslationsTabController">

    <div ng-if="status.error" class="ac-translations-tab-error">
        <div class="alert alert-danger">
            <h3>Unfortunately, it was not possible to load the specified application.</h3>

            <p>
                The application might be invalid or not exist, or there could be a server or network error. You
                may try again later, or translate a different application.
                <a class="btn btn-primary" href="#/apps">Go back to the Applications List</a>
            </p>
            <br>

            <div class="ac-error-description">
                <p>
                    <strong ac-translate-me>The error is:</strong>
                </p>

                <table style="padding-top: 20px">
                    <tr>
                        <td><strong ac-translate-me>HTTP code:</strong></td>
                        <td>{{ status.error.code }}</td>
                    </tr>
                    <tr>
                        <td><strong ac-translate-me>Message:<strong></td>
                        <td>{{ status.error.message.message }}</td>
                    </tr>
                </table>
            </div>

        </div>
    </div>

    <div ng-if="status.error == undefined" class="ac-translations-tab-standard">
        <ac-lang-target appinfo="appinfo" selected="selected_target" all_languages="all_languages"
                        all_groups="all_groups"></ac-lang-target>

        <div class="col-md-5 col-sm-12">
            <h3 ac-translate-me>Details:</h3>

            <a ng-href="#/edit/{{ selected_target.lang }}/{{ selected_target.target }}/{{ appurl }}" ng-show="selected_target.lang !== 'en_ALL'">
                <div ng-disabled="selected_target.lang === undefined || !(appinfo.translations)" class="btn btn-success">
                    <i class="fa fa-edit"></i>
                        <span ng-show="appinfo.translations[selected_target.lang]">{{ 'Edit translation' | translate }}</span>
                        <span ng-show="!appinfo.translations[selected_target.lang]">{{ 'Translate' | translate }}</span>
                </div>
            </a>

            <div class='btn btn-success disabled' ng-show="selected_target.lang === 'en_ALL'">
                <i class="fa fa-edit"></i>
                <span>{{ 'Select language first' | translate }}</span>
            </div>

            <!-- Loading message -->
            <div ng-show="!(appinfo.translations)">
                <p class="ac-text-warning"><i class="fa fa-spinner fa-spin"/> {{ 'Checking app status...' | translate }}</p>
            </div>
            <!-- Choose a language message -->
            <div ng-show="selected_target.lang == undefined">
                <p class="ac-text-danger">Please, choose a language.</p>
            </div>

            <dl class="" style="padding-top: 1em">

                <dt translate>URL</dt>
                <dd style="word-break: break-all"><a ng-href="{{ appinfo.app_link }}">{{ appinfo.app_link }}</a></dd>

                <dt translate>XML</dt>
                <dd style="word-break: break-all"><a ng-href="{{ appinfo.url }}">{{ appinfo["url"] }}</a></dd>

                <dt translate>Created:</dt>
                <dd>{{ (appinfo.translations[selected_target.lang].targets["ALL"].creation_date|date) || "N/A" }}</dd>

                <dt translate>Last modified:</dt>
                <dd>{{ (appinfo.translations[selected_target.lang].targets["ALL"].modification_date|date) || "N/A" }}</dd>

                <dt translate>Translated:</dt>
                <dd>
                    <progressbar class="ac-translation-percent" animate="false" value="translatedPercent(selected_target.lang) * 100" type="success">
                        <span ng-if="translatedPercent(selected_target.lang) > 0.15">{{ translatedPercentStr(selected_target.lang) }}</span>
                    </progressbar>
                    <span ng-if="translatedPercent(selected_target.lang) <= 0.15">{{ translatedPercentStr(selected_target.lang) }}</span>
                </dd>

            </dl>
        </div>

        <div class="col-md-4 col-sm-12">
            <ac-app-dependencies lang="selected_target.lang" target="selected_target.target" dependencies="appinfo.translations[selected_target.lang].targets[selected_target.target].dependencies || appinfo.generic_dependencies"></ac-app-dependencies>
        </div>

    </div>

</div>
