<div class="well">

    <h1>
        <img class="app-title-thumb img-thumbnail" ng-src="{{ appinfo.app_thumb }}"></img>
        <span>{{ appinfo.name }} - Edit Translation</span>

        <a class="ac-header-right header-button-wrapper" href="#/app/{{ appurl }}">
            <label for="back-btn" class="header-button-label">Back</label>
            <button id="back-btn" class="header-button"><i class="fa fa-backward fa-2x"/></button>
        </a>

    </h1>

    <ac-collaborators></ac-collaborators>

    <p style="padding-bottom: 20px">

    </p>


    <div class="row">
        <div class="col-lg-12" style="margin-bottom: 10px">
            <div class="col-lg-5" style="text-align: center">
                <h3>{{ all_languages[bundle.srclang] }}</h3>

                <!-- For now, disable the CHANGE SOURCE LANGUAGE button -->
                <!--
                    <button class="btn btn-subtle ac-btn-left" ng-click="changeSourceLanguage()" class="ac-edit-change-source">Change source language</button>
                -->
            </div>

            <div class="col-lg-7" style="text-align: center">
                <h3>{{ all_languages[bundle.targetlang] }}</h3>
            </div>
        </div>
    </div>



    <div ng-repeat="(key, translationItem) in translationInfo.translation">
        <ac-edit-message bundle="bundle" key="key" item="translationItem"></ac-edit-message>
    </div>

</div>
