<form name="ac-edit-message-form" class="form-horizontal ac-edit-message-form">
    <div class="form-group has-feedback ac-edit-message-form-group">
        <label for="next" class="col-xs-6 control-label ac-edit-message-label" title="{{ key }}">{{ item.source }}</label>

        <div class="col-xs-6">
            <input ng-focus="onFocus()" ng-change="onChange()" ng-model="currentValue" ng-model-options="{ updateOn: 'change blur' }"
                   ng-keyup="onKey($event)" name="ac-edit-message-input" class="form-control ac-edit-message-input"
                   type="text" placeholder="{{ item.source }}"/>

            <span ng-show="!status.saving && isSaved()" title="Saved" name="ac-saved-icon" class="fa fa-save form-control-feedback ac-fa-control-feedback"></span>
            <span ng-show="status.saving" class="fa fa-spinner fa-spin form-control-feedback ac-fa-control-feedback"></span>
        </div>
    </div>

    <div ng-show="shouldDisplayDetails()" class="ac-edit-message-details">
            <div class="form-group">
                <div class="col-xs-6">
                    <label class="control-label">
                        Suggested automatic translations:
                    </label>
                    <select ng-change="suggestionSelected()" ng-click="" class="form-control ac-edit-suggestion-select" size="6" ng-model="selected.suggestion"
                        ng-options="suggestion as suggestion.target for suggestion in item.suggestions | orderBy:'suggestion.weight'"
                        class="form-control">
                        <option value=""></option> <!-- Placing this is a MUST to avoid some weird two-clicks required bug -->
                    </select>
                </div>
            </div>
    </div>

</form>