{% set title = "Edit the app content" %}
{% set adaptor_type = "Experiment Design Tool" %}
{% set current_link = "home" %}
{% extends 'composers/adapt/layout.html' %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='initializr/js/vendor/bootstrap-select/bootstrap-select.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='initializr/js/vendor/tablecloth/paper.css') }}">    
{% endblock styles %}

{% block body_content %}
        <div id="adaptblock">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-header">
                        <h1 id="apptitle">Adapt a guidance app - {{ adaptor_type }} - {{ name }} </h1>
                    </div>
                </div>
            </div>

           

            <div class="well">
                <div class="row">
                    <div class="col-lg-12"> 
                        
                        <!-- Tabs & Tables (WCAG 2.0 usability) for the EDT variables  
                        ================================================== --> 
                        
                        <div class="wrap">
                            <ul class="nav nav-tabs nav-justified" style="margin-bottom: 15px;">

                                {# States of the tab menu - No content is shown when a tab is disabled. When all steps are done, only the experiment can be edited (last else - disabled class for domain1 and 2). #}
                                {% if n_trows == 4 %}                                
                                <li class="active"><a href="#domain-one" data-toggle="tab">Domain <span class="badge">1 of 2</span></a></li>
                                <li class="disabled"><a>Domain <span class="badge">2 of 2</span></a></li>
                                <li class="disabled"><a>Experiment <span class="badge">1 of 2</span></a></li>
                                <li class="disabled"><a>Experiment <span class="badge">2 of 2</span></a></li>
                                <li class="disabled"><a>Preview</a></li>
                                {% elif n_trows == 7 %}
                                <li><a href="#domain-one" data-toggle="tab">Domain <span class="badge">1 of 2</span></a></li>
                                <li class="active"><a href="#domain-two" data-toggle="tab">Domain <span class="badge">2 of 2</span></a></li>
                                <li class="disabled"><a>Experiment <span class="badge">1 of 2</span></a></li>
                                <li class="disabled"><a>Experiment <span class="badge">2 of 2</span></a></li>
                                <li class="disabled"><a>Preview</a></li>
                                {% elif n_trows == 9 %}
                                <li class="disabled"><a href="#domain-one" data-toggle="tab">Domain <span class="badge">1 of 2</span></a></li>
                                <li><a href="#domain-two" data-toggle="tab">Domain <span class="badge">2 of 2</span></a></li>
                                <li class="active"><a href="#experiment-one" data-toggle="tab">Experiment <span class="badge">1 of 2</span></a></li>
                                <li class="disabled"><a>Experiment <span class="badge">2 of 2</span></a></li>
                                <li class="disabled"><a href="#preview" data-toggle="tab">Preview</a></li>
                                {% elif n_trows == 10 %}
                                <li class="disabled"><a href="#domain-one" data-toggle="tab">Domain <span class="badge">1 of 2</span></a></li>
                                <li class="disabled"><a href="#domain-two" data-toggle="tab">Domain <span class="badge">2 of 2</span></a></li>
                                <li><a href="#experiment-one" data-toggle="tab">Experiment <span class="badge">1 of 2</span></a></li>
                                <li class="active"><a href="#experiment-two" data-toggle="tab">Experiment <span class="badge">2 of 2</span></a></li>                                                              
                                <li class="disabled"><a href="#preview" data-toggle="tab">Preview</a></li>
                                {% else %}
                                <li class="disabled"><a href="#domain-one" data-toggle="tab">Domain <span class="badge">1 of 2</span></a></li>
                                <li class="disabled"><a href="#domain-two" data-toggle="tab">Domain <span class="badge">2 of 2</span></a></li>
                                <li><a href="#experiment-one" data-toggle="tab">Experiment <span class="badge">1 of 2</span></a></li>
                                <li><a href="#experiment-two" data-toggle="tab">Experiment <span class="badge">2 of 2</span></a></li>                                                              
                                <li class="active"><a href="#preview" data-toggle="tab">Preview</a></li>                                                                                                 
                                {% endif %} 
                            </ul>              
                            
                            <div id="tabadapt-tables" class="tab-content">
                                
                                {% if n_trows == 4 or n_trows == 7 %}  {# Only two tabs are visible at the same time #}
                                <!-- 1st STEP : Creating object properties, system properties and object measures  -->
                                
                                <div class="tab-pane fade {% if n_trows == 4 %}active{%endif %} in" id="domain-one">
                                
                                    <div class="col-lg-12">                                                                                                                                                                                                                              
                                        
                                        <form class="form-horizontal" id="object-system-properties" name="object-system-properties" action="." method="POST">                      

                                            <fieldset>
                                                <legend>Properties</legend> 

                                                <!-- Begin Table :: Object properties -->
                                                <div class="table-responsive">                                                                                              
                                                    
                                                    <table id="object-properties" class="table table-striped table-paper">
                                                    <caption>Object properties</caption>
                                                        
                                                    <thead>
                                                        <tr>
                                                            <th>Name</th><th>Type</th><th>Symbol</th><th>Unit</th><th>Values</th>                              
                                                        </tr>
                                                    </thead>
                                                        
                                                    <tbody>                                                         
                                                    {# We show a table with emtpycontent_trows if no data is available. Otherwise, the JSON appdata is loaded. #}
                                                    {% if n_trows == 4  and emptycontent_trows %}  
                                                        {% for item in emptycontent_trows %}
                                                        <tr id="prop-{{item}}">                                                            
                                                            <td><input type="text" name="objprop_name" id="" class="form-control" placeholder="" required="required"></td>
                                                            <td>
                                                                <select name="objprop_type" class="form-control">
                                                                    <option>magnitude</option>
                                                                    <option>multitude</option>
                                                                </select>
                                                            </td>
                                                            <td><input type="text" name="objprop_symbol" class="form-control" placeholder="" required="required"></td>
                                                            <td><input type="text" name="objprop_unit" class="form-control" placeholder="" required="required"></td>
                                                            <td><input type="text" name="objprop_value" class="form-control" placeholder="" required="required"></td>                               
                                                        </tr>                                                                                                                
                                                        {% endfor %}
                                                            
                                                    {% else %}                                           
                                                             
                                                        {% for item in object_properties %}
                                                        <tr>
                                                            <td><input type="text" name="objprop_name" id="" class="form-control" placeholder="" value="{{ item[0] }}" required="required"></td>
                                                            <td>
                                                                <select name="objprop_type" class="form-control">
                                                                    <option>{{ item[1] }}</option>
                                                                    {% if item[1] == "magnitude"  %}
                                                                    <option>multitude</option>
                                                                    {% else %}
                                                                    <option>magnitude</option>
                                                                    {% endif %}
                                                                </select>
                                                            </td>
                                                            <td><input type="text" name="objprop_symbol" class="form-control" placeholder="" value="{{ item[2] }}" required="required"></td>
                                                            <td><input type="text" name="objprop_unit" class="form-control" placeholder="" value="{{ item[3] }}" required="required"></td>
                                                            <td><input type="text" name="objprop_value" class="form-control" placeholder="" value="{{ item[4] }}" required="required"></td>                               
                                                        </tr>                                                                                                                          
                                                        {% endfor %}

                                                    {% endif %}                                                    
                                                    </tbody>                                                
                                                    </table>

                                                    <p class="text-right">
                                                    <button type="button" class="btn btn-primary btn-xs" id="propmore-rows">+ Add row</button>
                                                    <span> | </span>
                                                    <button type="button" class="btn btn-danger btn-xs" id="propless-rows">- Remove row</button>                                                 
                                                    </p>

                                                </div><!-- /endtable1 -->
                                            
                                                <!-- Begin Table :: System properties -->

                                                <div class="table-responsive">
                                                    
                                                    <table id="system-properties" class="table table-striped table-paper">
                                                    <caption>System properties</caption>
                                                        
                                                    <thead>
                                                        <tr>
                                                            <th>Name</th><th>Type</th><th>Symbol</th><th>Unit</th><th>Values</th>                             
                                                        </tr>
                                                    </thead>
                                                        
                                                    <tbody>
                                                    {# We show a table with emtpycontent_trows if no data is available. Otherwise, the JSON appdata is loaded. #}
                                                    {% if n_trows == 4  and emptycontent_trows  %}  
                                                        {% for item in emptycontent_trows %}
                                                            <tr>
                                                                <td><input type="text" name="sysprop_name" id="" class="form-control" placeholder="" required="required"></td>
                                                                <td>
                                                                    <select name="sysprop_type" class="form-control">
                                                                        <option>magnitude</option>
                                                                        <option>multitude</option>
                                                                    </select>
                                                                </td>
                                                                <td><input type="text" name="sysprop_symbol" class="form-control" placeholder="" required="required"></td>
                                                                <td><input type="text" name="sysprop_unit" class="form-control" placeholder="" required="required"></td>
                                                                <td><input type="text" name="sysprop_value" class="form-control" placeholder="" required="required"></td>                               
                                                            </tr>                                                                                                                
                                                        {%endfor %}
                                                            
                                                    {% else %}                                                    

                                                        {% for item in system_properties %}
                                                            <tr>
                                                                <td><input type="text" name="sysprop_name" id="" class="form-control" placeholder="" value="{{ item[0] }}" required="required"></td>
                                                                <td>
                                                                    <select name="sysprop_type" class="form-control">
                                                                        <option>{{ item[1] }}</option>
                                                                        {% if item[1] == "magnitude"  %}
                                                                        <option>multitude</option>
                                                                        {% else %}
                                                                        <option>magnitude</option>
                                                                        {% endif %}
                                                                    </select>
                                                                </td>
                                                                <td><input type="text" name="sysprop_symbol" class="form-control" placeholder="" value="{{ item[2] }}" required="required"></td>
                                                                <td><input type="text" name="sysprop_unit" class="form-control" placeholder="" value="{{ item[3] }}" required="required"></td>
                                                                <td><input type="text" name="sysprop_value" class="form-control" placeholder="" value="{{ item[4] }}" required="required"></td>                               
                                                            </tr>                                                                                                                          
                                                        {% endfor %}

                                                    {% endif %}                                                                                                              
                                                    </tbody>
                                                    
                                                    </table>

                                                    <p class="text-right">
                                                    <button type="button" class="btn btn-primary btn-xs" id="sysmore-rows">+ Add row</button>
                                                    <span> | </span>
                                                    <button type="button" class="btn btn-danger btn-xs" id="sysless-rows">- Remove row</button>                                                  
                                                    </p>
                                                    
                                                </div><!-- /endtable2 -->

                                                <!-- Begin Table :: Object measures -->

                                                <div class="table-responsive">
                                                    
                                                    <table id="object-measures" class="table table-striped table-paper">
                                                    <caption>Object measures</caption>
                                                        
                                                    <thead>
                                                        <tr>
                                                            <th>Name</th><th>Type</th><th>Unit</th><th>Values</th>
                                                        </tr>
                                                    </thead>
                                                        
                                                    <tbody>

                                                        {% if n_trows == 4 and emptycontent_trows  %}  {# If there are no measures in the storage, we show empty fields and the option lists from the previous data #}
                                                            {% for item in emptycontent_trows %} 
                                                            <tr id="measurow-{{ loop.index0+1 }}">
                                                                <td><input type="text" name="measure_name" class="form-control" placeholder="" required="required"></td>
                                                                <td>
                                                                    <select name="measure_type" class="form-control">
                                                                        <option>magnitude</option>
                                                                        <option>multitude</option>
                                                                    </select>
                                                                </td>
                                                                <td><input type="text" name="measure_unit" class="form-control" placeholder="" required="required"></td>
                                                                <td><input type="text" name="measure_value" class="form-control" placeholder="" required="required"></td>
                                                            </tr>
                                                            {%endfor %}
                                                                
                                                        {% else %}  {# Otherwise, both option lists and measures are loaded from the database #}
                                                            {% for item in object_measures %}
                                                            <tr id="measurow-{{ loop.index0+1 }}">                                           
                                                                <td><input type="text" name="measure_name" class="form-control" placeholder="" value="{{ item[0] }}" required="required"></td>
                                                                <td>
                                                                    <select name="measure_type" class="form-control">
                                                                        <option>{{ item[1] }}</option>
                                                                        {% if item[1] == "magnitude"  %}
                                                                        <option>multitude</option>
                                                                        {% else %}
                                                                        <option>magnitude</option>
                                                                        {% endif %}
                                                                    </select>
                                                                </td>
                                                                <td><input type="text" name="measure_unit" class="form-control" placeholder="" value="{{ item[2] }}" required="required"></td>
                                                                <td><input type="text" name="measure_value" class="form-control" placeholder="" value="{{ item[3] }}" required="required"></td>
                                                            </tr>
                                                            {%endfor %}
                                                        {% endif %}

                                                    </tbody>
                                                    
                                                    </table>
                                                    <p class="text-right">
                                                    <button type="button" class="btn btn-primary btn-xs" id="measumore-rows">+ Add row</button>
                                                    <span> | </span>
                                                    <button type="button" class="btn btn-danger btn-xs" id="measuless-rows">- Remove row</button>                                                    
                                                    </p>

                                                    
                                                </div><!-- /endtable3 -->

                                            </fieldset>
                                                                                    
                                            
                                            <div class="form-group">
                                                <div class="col-lg-10 col-lg-offset-2">
                                                    <a class="btn btn-default" id="adaptindex" href="{{ url_for('adapt.adapt_index') }}">« Go back to adaptor index</a>
                                                    <input type="hidden" name="app_id" value="{{ app_id }}">                                  
                                                    <input type="submit" value="Save properties" class="btn btn-success">                                                    
                                                </div>
                                            </div>                                                                                          

                                        </form><!-- /form edt-tab1 --> 
                                        
                                    </div><!-- end collg-12 -->
                                </div><!-- /endtab1 -->
                                {% endif %}
                                
                                {% if n_trows == 7 or n_trows == 9 %} {# CHECK:  or n_trows == 10 #}
                                
                                <!-- 2nd STEP : Defining the object measures and Dependencies  -->
                                <div class="tab-pane fade {% if n_trows == 7 %}active{%endif %} in" id="domain-two">                               
                                
                                    <form class="form-horizontal" id="vardeps" action="." method="POST">

                                    <fieldset>
                                        <legend>Relations</legend>

                                    <!-- Begin Table :: Object relations -->


                                    <div class="table-responsive">

                                        <table id="object-relations" class="table table-striped table-paper"><!-- removed table-hover -->
                                        <caption>Object relations</caption>
                                            
                                        <thead>
                                            <tr>
                                                <th>✓/x</th><th>Name</th><th>Depends on</th><th>Relation</th>
                                            </tr>
                                        </thead>
                                            
                                        <tbody>
                                            {% if n_trows == 7 and emptycontent_trows %}  {# If it is equal to 7, we show empty fields and the option list from the previous data (object_properties names) #}
                                                {% for item in object_properties %}                                            
                                                <tr id="relrow-{{ loop.index0+1 }}">
                                                    <td>
                                                        <div class="input-group">
                                                        <input name="optionRadioOn-{{ loop.index0+1 }}" value="enabled" checked="" type="radio">
                                                        <input name="optionRadioOn-{{ loop.index0+1 }}" value="disabled" type="radio">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <input name="objprop_relname" class="form-control" value="{{ item[0] }}" readonly="readonly">
                                                    </td>
                                                    <td>
                                                        <select multiple="" name="objprop_var-{{ loop.index0+1 }}" class="selectpicker">
                                                            {% for item in object_properties %}
                                                            <option>{{ item[0] }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </td>                                                      
                                                    <td><input type="text" name="objprop_relation-{{ loop.index0+1 }}" class="form-control" placeholder="insert expression" required="required"></td>
                                                </tr>
                                                    {% endfor %}
                                                    
                                            {% else %}  {# FIXXXX!!!!!!!!!!!!! - SELECTED + NOT SELECTED #}
                                                {% for item in object_relations %}
                                                <tr>
                                                    <td>
                                                        <div class="input-group">
                                                        <input name="optionRadioOn-{{ loop.index0+1 }}" value="enabled" checked="" type="radio">
                                                        <input name="optionRadioOn-{{ loop.index0+1 }}" value="disabled" type="radio">
                                                        </div>
                                                    </td>                                                    
                                                    <td>
                                                        <input name="objprop_relname" class="form-control" value="{{ item[0] }}" readonly="readonly">
                                                    </td>
                                                    <td>
                                                        <select multiple="" name="objprop_var-{{ loop.index0+1 }}" class="selectpicker">
                                                            {% for objprop_var in item[1] %}
                                                            <option selected>{{ objprop_var }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </td>
                                                    <td><input type="text" name="objprop_relation-{{ loop.index0+1 }}" class="form-control" placeholder="" value="{{ item[2] }}" required="required"></td>                                                     
                                                </tr>
                                                {% endfor %}
                                            {% endif %}
                                        </tbody>
                                        
                                        </table>

                                    </div><!-- /endtable4 -->
                                        
                                    </fieldset>
                                    
                                    <fieldset>
                                        <legend>Dependencies</legend>

                                    <!-- Begin Table :: Object property and system dependencies of variables -->
                                    <div class="table-responsive">
                                        
                                        <table id="dependencies" class="table table-striped table-paper">
                                        <caption>Object dependencies and system dependencies</caption>
                                            
                                        <thead>
                                            <tr>
                                                <th>Variable name</th><th>Object dependencies</th><th>System dependencies</th>
                                            </tr>
                                        </thead>
                                           
                                        <tbody>
                                        {% if n_trows == 7 and emptycontent_trows %}  {# If it is equal to 7, we show empty fields and the option list from the previous data (object_deps names) #}
                                                {% for item in object_measures %}
                                                <tr>                                                    
                                                    <td>
                                                        <input name="objmeasu_set"  class="form-control" value="{{ item[0] }}" readonly="readonly">
                                                    </td>
                                                    <td>
                                                        <select multiple=""  name="objprop_dep-{{ loop.index0+1 }}"  class="selectpicker">
                                                        {% for item in object_properties %}
                                                        <option>{{ item[0] }}</option>
                                                        {% endfor %}
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select multiple="" name="sysprop_dep-{{ loop.index0+1 }}" class="selectpicker">
                                                        {% for item in system_properties %}
                                                            <option>{{ item[0] }}</option>
                                                        {% endfor %}
                                                        </select>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                        {% else %}
                                                {% for item in dependencies %} {# MSSING: NOT SELECTED IN SELECT MULTIS #}
                                                <tr>
                                                    <td>
                                                        <input name="objmeasu_set"  class="form-control" value="{{ item[0] }}" readonly="readonly">
                                                    </td>
                                                    <td>
                                                        <select multiple="" name="objprop_dep-{{ loop.index0+1 }}" class="selectpicker">
                                                            {% for objprop in item[1] %}
                                                            <option selected>{{ objprop }}</option> <!-- THIS IS THE ONLY ONE THAT PARTIALLY WORKS!!!  -->
                                                            {%endfor %}
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select multiple="" name="sysprop_dep-{{ loop.index0+1 }}"  class="form-control selectpicker">
                                                            {% for sysprop in item[2] %}
                                                            <option selected>{{ sysprop }}</option>
                                                            {%endfor %}
                                                        </select>
                                                    </td>                                                    
                                                </tr>
                                                {%endfor %}                                        
                                        {% endif %}
                                        </tbody>
                                        
                                        </table>

                                    </div><!-- /endtable5 -->

                                    
                                    </fieldset>

                                    <div class="form-group">
                                        <div class="col-lg-10 col-lg-offset-2">
                                            <input type="hidden" name="app_id" value="{{ app_id }}">
                                            <input type="submit" value="Save relations and dependencies" class="btn btn-success">
                                        </div>
                                    </div>

                                    </form><!-- /form edt-tab3 --> 
                                                                                                            
                                </div><!-- /endtab3 -->
                                {% endif %}


                                {% if n_trows == 9  or n_trows == 10 or n_trows == 11 %}
                                <div class="tab-pane fade {% if n_trows == 9 %}active{%endif %} in" id="experiment-one">
                                   <form class="form-horizontal" id="variable-selection" action="." method="POST">

                                    <!-- 3rd STEP : Creating the Experiment (selection of variables)  -->
                                    
                                    <fieldset>
                                        <legend>General</legend>
                                        
                                        <div class="form-group">
                                            <label for="experiment_name" class="col-lg-2 control-label">Title:</label>
                                            <div class="col-lg-4">
                                                <input type="text" name="experiment_name" class="form-control"  value="{{ experiment_name }}"  {% if n_trows != 9%}readonly="readonly"{% endif %} required="required">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="experiment_description" class="col-lg-2 control-label">Description:</label>
                                            <div class="col-lg-4">
                                                <input type="text" name="experiment_description" class="form-control" value="{{ experiment_description }}" required="required">
                                            </div>
                                        </div>

                                    </fieldset>

                                    <fieldset>
                                        <legend>Selections</legend>
                                        
                                        <div class="form-group">
                                            <label for="objprops_selection" class="col-lg-2 control-label">Object properties:</label>
                                            <div class="col-lg-4">
                                                <select name="objprops_selection" id="objprops_selection" multiple="" class="form-control selectpicker">
                                                {% if n_trows == 9 %}
                                                    {% for item in object_properties %}
                                                    <option>{{ item["name"] }}</option>
                                                    {%endfor %}                                                
                                                {% else %}
                                                    {% for item in object_property_selection %}
                                                    <option selected>{{ item }}</option>
                                                    {%endfor %}
                                                {% endif %}
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="measures_selection" class="col-lg-2 control-label">Object measures:</label>
                                            <div class="col-lg-4">
                                                <select name="measures_selection" id="measures_selection" multiple="" class="form-control selectpicker">
                                                {% if n_trows == 9 %}
                                                    {% for item in object_measures %}
                                                    <option>{{ item["name"] }}</option>
                                                    {%endfor %}
                                                {% else %}
                                                    {% for item in object_measure_selection %}
                                                    <option selected>{{ item }}</option>
                                                    {%endfor %}
                                                {% endif %}
                                                </select>
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label for="sysprops_selection" class="col-lg-2 control-label">System properties:</label>
                                            <div class="col-lg-4">
                                                <select name="sysprops_selection" id="sysprops_selection" multiple="" class="form-control selectpicker">
                                                {% if n_trows == 9 %}
                                                    {% for item in system_properties %}
                                                    <option>{{ item["name"] }}</option>
                                                    {%endfor %}
                                                {% else %}
                                                    {% for item in system_property_selection %}
                                                    <option selected>{{ item }}</option>
                                                    {%endfor %}
                                                {% endif %}
                                                </select>
                                            </div>
                                        </div>
                                    </fieldset>


                                    <div class="form-group">
                                        <div class="col-lg-10 col-lg-offset-2">
                                            <input type="hidden" name="app_id" value="{{ app_id }}">                                  
                                            <input type="submit" value="Save selections for experiment" class="btn btn-success">  
                                        </div>
                                    </div>
                                            

                                    </form><!-- /form edt-tab3 --> 
                                                                                                            
                                </div><!-- /endtab3 -->
                                {% endif %}


                                {% if n_trows == 10 or n_trows == 11 %}
                                <div class="tab-pane fade {% if n_trows == 10 %}active{% endif %} in" id="experiment-two">
                                    <form class="form-horizontal" id="object-properties-specs" action="." method="POST">

                                    <!-- 4th STEP : Creating the Experiment (selection of variables)  -->
                                    

                                    <fieldset>
                                        <legend>Properties</legend> {# *Only* the selected properties will be saved #}

                                    <!-- Begin Table :: Object property specifications -->
                                    <div class="table-responsive">
                                        
                                        <table id="specifications" class="table table-striped table-paper">
                                        <caption>Object property specifications</caption>
                                            
                                        <thead>
                                            <tr>
                                                <th>Object property</th><th>Initial</th><th>Unit</th><th>Min</th><th>Max</th><th>Increment</th><th>Values</th>
                                            </tr>
                                        </thead>
                                           
                                        <tbody>
                                        {% if n_trows == 10 %}
                                                {% for item in object_property_selection %}  {# SOBRAAA EL ELSE #}                                          
                                                <tr id="specrow-{{ loop.index0+1 }}">
                                                    <td><input type="text" name="exp_property" class="form-control" placeholder="" value='{{ item }}' required="required"></td>
                                                    <td><input type="text" name="exprop_initial" class="form-control" placeholder="" value="" required="required"></td>
                                                    <td><input type="text" name="exprop_unit" class="form-control" placeholder="" value="" required="required"></td>
                                                    <td><input type="text" name="exprop_min" class="form-control" placeholder="" value="" required="required"></td>
                                                    <td><input type="text" name="exprop_max" class="form-control" placeholder="" value="" required="required"></td>
                                                    <td><input type="text" name="exprop_increment" class="form-control" placeholder="" value="" required="required"></td>
                                                    <td><input type="text" name="exprop_value" class="form-control" placeholder="" value="" required="required"></td>
                                                </tr>
                                                {%endfor %} 
                                        {% else %}
                                                {# for item in object_property_specification #}
                                                {% for item in object_property_selection %}
                                                <tr id="specrow-{{ loop.index0+1 }}">
                                                    <td><input type="text" name="exp_property" class="form-control" placeholder="" value="{{ object_property_specification[loop.index0]['property'] }}" required="required"></td>
                                                    <td><input type="text" name="exprop_initial" class="form-control" placeholder="" value="{{ object_property_specification[loop.index0]['initial'] }}" required="required"></td>
                                                    <td><input type="text" name="exprop_unit" class="form-control" placeholder="" value="{{ object_property_specification[loop.index0]['unit'] }}" required="required"></td>
                                                    <td><input type="text" name="exprop_min" class="form-control" placeholder="" value="{{ object_property_specification[loop.index0]['range']['minimum'] }}" required="required"></td>
                                                    <td><input type="text" name="exprop_max" class="form-control" placeholder="" value="{{ object_property_specification[loop.index0]['range']['maximum'] }}" required="required"></td>
                                                    <td><input type="text" name="exprop_increment" class="form-control" placeholder="" value="{{ object_property_specification[loop.index0]['range']['increment'] }}" required="required"></td>
                                                    <td><input type="text" name="exprop_value" class="form-control" placeholder="" value="{{ object_property_specification[loop.index0]['values'] }}"></td>
                                                </tr>
                                                {%endfor %}
                                        {% endif %}
                                        </tbody>
                                        
                                        </table>

                                    </div><!-- /endtable6 -->

                                    <!-- Begin Table :: System property values -->

                                    <div class="table-responsive">
                                        
                                        <table id="system-properties-values" class="table table-striped table-paper">
                                        <caption>System property values</caption>
                                            
                                        <thead>
                                            <tr>
                                                <th>Property</th><th>Value</th>
                                            </tr>
                                        </thead>
                                            
                                        <tbody>
                                        {% if n_trows == 10 %}
                                                {% for item in system_property_selection %}
                                                <tr id="sysvalrow-{{ loop.index0+1 }}">
                                                    <td><input type="text" name="exp_sysprop" class="form-control" placeholder="" value="{{ item }}" required="required"></td>
                                                    <td><input type="text" name="exp_sysprop_value" class="form-control" placeholder="" value="" required="required"></td>
                                                </tr>
                                                {%endfor %}
                                        {% else %}
                                                {% for item in system_property_values %}
                                                <tr id="sysvalrow-{{ loop.index0+1 }}">
                                                    <td><input type="text" name="exp_sysprop" class="form-control" placeholder="" value="{{ item['property'] }}" required="required"></td>
                                                    <td><input type="text" name="exp_sysprop_value" class="form-control" placeholder="" value="{{ item['value'] }}" required="required"></td>
                                                </tr>
                                                {%endfor %}
                                        {% endif %}
                                        </tbody>
                                        
                                        </table>
                                        
                                    </div><!-- /endtable7 -->
                                    
                                    </fieldset>  

                                    <div class="form-group">
                                        <div class="col-lg-10 col-lg-offset-2">
                                            <input type="hidden" name="app_id" value="{{ app_id }}">                                  
                                            <input type="submit" value="Save experiment values" class="btn btn-success">  
                                        </div>
                                    </div>
                                            

                                    </form><!-- /form edt-tab4 --> 
                                                                                                            
                                </div><!-- /endtab4 -->
                                {% endif %}

                                {% if n_trows == 11 %}
                                <div class="tab-pane fade {% if n_trows == 11 %}active{% endif %} in" id="preview">
                                    <iframe src="{{ url_for('.edt_index', app_id = app_id) }}" width="998" height="1300" frameborder="0" scrolling="no"></iframe>
                                    <div>
                                        <a href="{{ url_for('.edt_widget', app_id = app_id) }}">[+] Widget link</a>
                                    </div>
                                </div><!-- /endtab5 -->
                                {% endif %}
                                                                                          
                            </div><!-- /end tabs content-->
                        </div><!-- end wrap edt tables -->
                                            
                    </div>
                </div>
            </div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='initializr/js/vendor/jquery-1.10.1.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='initializr/js/vendor/bootstrap.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='initializr/js/vendor/bootstrap-select/bootstrap-select.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='initializr/js/table-number.js') }}" type="text/javascript"></script>    

<script>    
jQuery(document).ready(function($) {

    $('.collapse').collapse();

    if( /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ) {
        $('.selectpicker').selectpicker('mobile');
    } else {    
        $('.selectpicker').selectpicker();
    }
    $('.table').tableAddCounter();

    $("button#propless-rows").click(function() {
        var rowCount = $('table#object-properties  tr:last').index() + 1;
        if (rowCount > 1) {
            var clonedRow = $("table#object-properties tbody tr:last").remove();
        } else {
            alert("The first row cannot be removed.");
        }
    });

    $("button#sysless-rows").click(function() {
        var rowCount = $('table#system-properties  tr:last').index() + 1;
        if (rowCount > 1) {
            var clonedRow = $("table#system-properties tbody tr:last").remove();
        } else {
            alert("The first row cannot be removed.");
        }
    });

    $("button#measuless-rows").click(function() {
        var rowCount = $('table#object-measures  tr:last').index() + 1;
        if (rowCount > 1) {
            var clonedRow = $("table#object-measures tbody tr:last").remove();
        } else {
            alert("The first row cannot be removed.");
        }
    });    

    /* FIX THIS!!!! Generic code: search all table IDs in webpage and add buttons.
        Missing top limit for creating new rows?
        - And disable remove button when lower limit is reached (removes an unnecessary alert) */
    var i = $("table#object-properties tbody tr").length;
    $("button#propmore-rows").click(function() {
        var rowCount = $('table#object-properties tr:last').index() + 1;                
        var clonedRow = $("table#object-properties tbody tr:last").clone();
        clonedRow.find('input:text').val('');
        i++;
        $("table#object-properties").append(clonedRow);

          
        var $span = $("table#object-properties tbody tr:last span.label:last");
        var $rowid = $("table#object-properties tbody tr:last");                
        //console.log($span.text());
        $span.text(Number($span.text()) + 1);
        //cindex = 99;
        //$clonedRow.attr('id', 'prop'+(cindex) ); //update row id        
    });

    var j = $("table#system-properties tbody tr").length;
    $("button#sysmore-rows").click(function() {
        var rowCount = $('table#system-properties tr:last').index() + 1;
        var clonedRow = $("table#system-properties tbody tr:last").clone();
        j++;
        clonedRow.find('input:text').val('');        
        $("table#system-properties").append(clonedRow);

        var $span = $("table#system-properties tbody tr:last span.label:last");
        var $rowid = $("table#system-properties tbody tr:last");
        $span.text(Number($span.text()) + 1);
    });

    var k = $("table#object-measures tbody tr").length;
    $("button#measumore-rows").click(function() {
        var rowCount = $('table#object-measures tr:last').index() + 1;
        var clonedRow = $("table#object-measures tbody tr:last").clone();
        clonedRow.find('input:text').val('');        
        j++;        
        $("table#object-measures").append(clonedRow);
        
        var $span = $("table#object-measures tbody tr:last span.label:last");
        var $rowid = $("table#object-measures tbody tr:last");
        $span.text(Number($span.text()) + 1);
    });

    
});
</script>
{% endblock scripts %}
