{% set title = "Edit the app content" %}
{% set adaptor_type = "Experiment Design Tool" %}
{% set current_link = "home" %}
{% extends 'composers/adapt/layout.html' %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='initializr/js/vendor/bootstrap-select/bootstrap-select.min.css') }}">
{% endblock styles %}

{% block body_content %}
        <div id="adaptblock">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-header">
                        <h1 id="apptitle">Adapt a guidance app - {{ adaptor_type }} - {{ name }} {{ n_trows }} </h1>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">                
                {% from "user/wl_form_helpers.html" import render_field %}

                {% with messages = get_flashed_messages() %}
                    {% for message in messages %}
                        <div class="alert alert-success">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endwith %}
                </div>                
            </div>            

            <div class="well">
                <div class="row">
                    <div class="col-lg-12"> 
                        
                        <!-- Tabs & Tables (WCAG 2.0 usability) for the EDT variables  
                        ================================================== --> 
                        
                        <div class="wrap">
                            <ul class="nav nav-tabs nav-justified" style="margin-bottom: 15px;">

                                {# States of the tab menu - No content is shown when a tab is disabled. #}
                                {% if n_trows == 4 %}                                
                                <li class="active"><a href="#domain-one" data-toggle="tab">Domain <span class="badge">1 of 2</span></a></li>
                                <li class="disabled"><a>Domain <span class="badge">1 of 2</span></a></li>                                    
                                <li class="disabled"><a>Experiment</a></li>                                                              
                                <li class="disabled"><a>Preview</a></li>
                                {% elif n_trows == 15 %}
                                <li><a href="#domain-one" data-toggle="tab">Domain <span class="badge">1 of 2</span></a></li>
                                <li class="active"><a href="#domain-two" data-toggle="tab">Domain <span class="badge">2 of 2</span></a></li>
                                <li class="disabled"><a>Experiment</a></li>
                                <li class="disabled"><a>Preview</a></li>
                                {% elif n_trows == 20 %}
                                <li class="disabled"><a href="#domain-one" data-toggle="tab">Domain <span class="badge">1 of 2</span></a></li>
                                <li><a href="#domain-two" data-toggle="tab">Domain <span class="badge">2 of 2</span></a></li>
                                <li class="disabled"><a href="#experiment" data-toggle="tab">Experiment</a></li>
                                <li class="disabled"><a href="#preview" data-toggle="tab">Preview</a></li>
                                {% else %}
                                <li><a href="#domain-one" data-toggle="tab">Domain <span class="badge">1 of 2</span></a></li>
                                <li><a href="#domain-two" data-toggle="tab">Domain <span class="badge">2 of 2</span></a></li>
                                <li class="active"><a href="#experiment" data-toggle="tab">Experiment</a></li>                                                              
                                <li><a href="#preview" data-toggle="tab">Preview</a></li>                                                                
                                {% endif %} 
                            </ul>              
                            
                            <div id="tabadapt-tables" class="tab-content">                                                                                  
                                <div class="tab-pane fade active in" id="domain-one">
                                    <div class="col-lg-12">                                                                                                                                                                                                                              
                                        
                                        <form class="form-horizontal" id="object-system-properties" action="." method="POST">                      

                                            <fieldset>
                                                <legend>Properties</legend> 

                                                <!-- Begin Table :: Object properties -->
                                                <div class="table-responsive">                                                                                              
                                                    
                                                    <table class="table table-striped table-hover" id="tproperties">
                                                    <caption>Object properties</caption>
                                                        
                                                    <thead>
                                                        <tr>
                                                            <th>Name</th><th>Type</th><th>Symbol</th><th>Unit</th><th>Values</th>                              
                                                        </tr>
                                                    </thead>
                                                        
                                                    <tbody>                                                         
                                                    {# We show a table with emtpycontent_trows if no data is available. Otherwise, the JSON appdata is loaded. #}
                                                    {% if n_trows == 4 %}  
                                                        {% for item in emptycontent_trows %}
                                                        <tr id="prop-{{item}}">                                                            
                                                            <td><input type="text" name="objprop_name" id="" class="form-control" placeholder=""></td>
                                                            <td><div class="checkbox"><input type="checkbox" name="objprop_type" value="multitude--{{item}}"></div></td>                                             
                                                            <td><input type="text" name="objprop_symbol" class="form-control" placeholder=""></td>
                                                            <td><input type="text" name="objprop_unit" class="form-control" placeholder=""></td>
                                                            <td><input type="text" name="objprop_value" class="form-control" placeholder=""></td>                               
                                                        </tr>                                                                                                                
                                                        {%endfor %}
                                                            
                                                    {% else %}                                           
                                                             
                                                        {% for item in object_properties %}                                                            
                                                        <tr id="prop-{{ loop.index0+1 }}">
                                                            <td><input type="text" name="objprop_name" id="" class="form-control" placeholder="" value="{{ item[0] }}"></td>
                                                            <td><div class="checkbox"><input type="checkbox" name="objprop_type" value="multitude--{{item[0]}}"></div></td>                                             
                                                            <td><input type="text" name="objprop_symbol" class="form-control" placeholder="" value="{{ item[2] }}"></td>
                                                            <td><input type="text" name="objprop_unit" class="form-control" placeholder="" value="{{ item[3] }}"></td>
                                                            <td><input type="text" name="objprop_value" class="form-control" placeholder="" value="{{ item[4] }}"></td>                               
                                                        </tr>                                                                                                                          
                                                        {% endfor %}                                                     
                                                        
                                                    {% endif %}                                                    
                                                    </tbody>                                                
                                                    </table>

                                                    <p class="text-right">
                                                    <button type="button" class="btn btn-primary btn-xs" id="propmore-rows">+ Add row</button>
                                                    <span> | </span>
                                                    <button type="button" class="btn btn-danger btn-xs" id="propless-rows">- Remove row</button>                                                 
                                                    </p>

                                                </div><!-- /endtable1 -->
                                            
                                                <!-- Begin Table :: System properties -->

                                                <div id="system-properties"  class="table-responsive">
                                                    
                                                    <table class="table table-striped table-hover">
                                                    <caption>System properties</caption>
                                                        
                                                    <thead>
                                                        <tr>
                                                            <th>Name</th><th>Type</th><th>Symbol</th><th>Unit</th><th>Values</th>                             
                                                        </tr>
                                                    </thead>
                                                        
                                                    <tbody>
                                                    {# We show a table with emtpycontent_trows if no data is available. Otherwise, the JSON appdata is loaded. #}
                                                    {% if n_trows == 4 %}  
                                                        {% for item in emptycontent_trows %}
                                                            <tr id="sysrow-{{ loop.index0+1 }}">
                                                                <td><input type="text" name="sysprop_name" id="" class="form-control" placeholder=""></td>
                                                                <td><div class="checkbox"><input type="checkbox" name="sysprop_type" value="multitude--{{item}}"></div></td>
                                                                <td><input type="text" name="sysprop_symbol" class="form-control" placeholder=""></td>
                                                                <td><input type="text" name="sysprop_unit" class="form-control" placeholder=""></td>
                                                                <td><input type="text" name="sysprop_value" class="form-control" placeholder=""></td>                               
                                                            </tr>                                                                                                                
                                                        {%endfor %}
                                                            
                                                    {% else %}                                                    

                                                        {% for item in system_properties %}
                                                            <tr id="sysrow-{{ loop.index0+1 }}">
                                                                <td><input type="text" name="sysprop_name" id="" class="form-control" placeholder="" value="{{ item[0] }}"></td>
                                                                <td><div class="checkbox"><input type="checkbox" name="sysprop_type" value="multitude--{{item[0]}}"></div></td>
                                                                <td><input type="text" name="sysprop_symbol" class="form-control" placeholder="" value="{{ item[2] }}"></td>
                                                                <td><input type="text" name="sysprop_unit" class="form-control" placeholder="" value="{{ item[3] }}"></td>
                                                                <td><input type="text" name="sysprop_value" class="form-control" placeholder="" value="{{ item[4] }}"></td>                               
                                                            </tr>                                                                                                                          
                                                        {% endfor %}

                                                    {% endif %}                                                                                                              
                                                    </tbody>
                                                    
                                                    </table>

                                                    <p class="text-right">
                                                    <button type="button" class="btn btn-primary btn-xs" id="sysmore-rows">+ Add row</button>
                                                    <span> | </span>
                                                    <button type="button" class="btn btn-danger btn-xs" id="sysless-rows">- Remove row</button>                                                  
                                                    </p>
                                                    
                                                </div><!-- /endtable2 -->

                                                <!-- Begin Table :: Object measures -->

                                                <div id="object-measures"  class="table-responsive">
                                                    
                                                    <table class="table table-striped table-hover">
                                                    <caption>Object measures</caption>
                                                        
                                                    <thead>
                                                        <tr>
                                                            <th>Name</th><th>Type</th><th>Values</th><th>Unit</th>
                                                        </tr>
                                                    </thead>
                                                        
                                                    <tbody>

                                                        {% if n_trows == 15 %}  {# If there are no measures in the storage, we show empty fields and the option lists from the previous data #}
                                                            {% for item in emptycontent_trows %} 
                                                            <tr id="measrow-{{ loop.index0+1 }}">
                                                                <td><input type="text" name="measure_name" class="form-control" placeholder=""></td>
                                                                <td><div class="checkbox"><input type="checkbox" name="measure_type" value="multitude--{{item}}"></div></td>
                                                                <td><input type="text" name="measure_values" class="form-control" placeholder=""></td>
                                                                <td><input type="text" name="measure_unit" class="form-control" placeholder=""></td>
                                                            </tr>
                                                            {%endfor %}
                                                                
                                                        {% else %}  {# Otherwise, both option lists and measures are loaded from the database #}
                                                            {% for item in object_measures %}
                                                            <tr id="measrow-{{ loop.index0+1 }}">                                           
                                                                <td><input type="text" name="measure_name" class="form-control" placeholder="" value="{{ item[0] }}"></td>
                                                                <td><div class="checkbox"><input type="checkbox" name="measure_type" value="multitude--{{item}}"></div></td>
                                                                <td><input type="text" name="measure_values" class="form-control" placeholder="" value="{{ item[2] }}"></td>
                                                                <td><input type="text" name="measure_unit" class="form-control" placeholder="" value="{{ item[3] }}"></td>
                                                            </tr>
                                                            {%endfor %}
                                                        {% endif %}

                                                    </tbody>
                                                    
                                                    </table>
                                                    <p class="text-right">
                                                    <button type="button" class="btn btn-primary btn-xs" id="measmore-rows">+ Add row</button>
                                                    <span> | </span>
                                                    <button type="button" class="btn btn-danger btn-xs" id="measless-rows">- Remove row</button>                                                    
                                                    </p>

                                                    
                                                </div><!-- /endtable3 -->

                                            </fieldset>
                                                                                    
                                            
                                            <div class="form-group">
                                                <div class="col-lg-10 col-lg-offset-2">
                                                    <a class="btn btn-default" id="adaptindex" href="{{ url_for('adapt.adapt_index') }}">« Go back to adaptor index</a>
                                                    <input type="hidden" name="app_id" value="{{ app_id }}">                                  
                                                    <input type="submit" value="Save properties" class="btn btn-success">                                                    
                                                </div>
                                            </div>                                                                                          

                                        </form><!-- /form edt-tab1 --> 
                                        
                                    </div><!-- end collg-12 -->
                                </div><!-- /endtab1 -->

                                {% if n_trows == 21 %}
                                <div class="tab-pane fade" id="domain-two">
                                    <form class="form-horizontal" id="vardeps" action="." method="POST">

                                    <!-- Fourth step : Defining the object measures and Dependencies  -->

                                    <fieldset>
                                        <legend>Relations and Dependencies</legend>

                                    <!-- Begin Table :: Object relations -->


                                    <div id="object-relations"  class="table-responsive">

                                        <table class="table table-striped table-hover">
                                        <caption>Object relations</caption>
                                            
                                        <thead>
                                            <tr>
                                                <th>Name</th><th>Relation</th>                              
                                            </tr>
                                        </thead>
                                            
                                        <tbody>
                                            {% if n_trows == 15 %}  {# If it is equal to 15, we show empty fields and the option list from the previous data (object_properties names) #}
                                            
                                                {% for item in object_properties %}
                                                <tr id="relrow-{{ loop.index0+1 }}">
                                                    <td>{{ item[0] }}</td>
                                                    <td><input type="text" name="objprop_relation" class="form-control" placeholder=""></td>
                                                </tr>
                                                {%endfor %}
                                                    
                                            {% else %}  {# Otherwise, the lists of object properties and relations are loaded from the database #}
                                                {% for item in object_relations %}
                                                <tr id="relrow-{{ loop.index0+1 }}">
                                                    <td>{{ item[0] }}</td>
                                                    <td><input type="text" name="objprop_relation" class="form-control" placeholder="" value="{{ item[1] }}"></td>
                                                </tr>
                                                {% endfor %}
                                            {% endif %}
                                        </tbody>
                                        
                                        </table>
                                        
                                        <p class="text-right">
                                        <button type="button" class="btn btn-primary btn-xs" id="relsmore-rows">+ Add row</button>
                                        <span> | </span>
                                        <button type="button" class="btn btn-danger btn-xs" id="relsless-rows">- Remove row</button>                                                  
                                        </p>                                        
                                        
                                    </div><!-- /endtable4 -->
                                        
                                    </fieldset>
                                    
                                    <fieldset>
                                        <legend>Dependencies</legend>

                                    <!-- Begin Table :: Object property and system dependencies of variables -->
                                    <div id="object-deps"  class="table-responsive">
                                        
                                        <table class="table table-striped table-hover">
                                        <caption>Object and system dependencies</caption>
                                            
                                        <thead>
                                            <tr>
                                                <th>Variable name</th><th>Object dependencies</th><th>System dependencies</th>
                                            </tr>
                                        </thead>
                                           
                                        <tbody>
                                                {% for item in object_measures_names %}
                                                <tr id="depsrow-{{ loop.index0+1 }}">
                                                    <td>{{ item }}</td>
                                                    <td><select multiple="" class="form-control selectpicker" name="measure_dependencies_obj" id="measure_dependencies_obj">{% for item in object_properties %}<option value="{{ item[0] }}">{{ item[0] }}</option>{% endfor %}</select></td>
                                                    <td><select multiple="" class="form-control selectpicker" name="measure_dependencies_sys" id="measure_dependencies_sys">{% for item in system_properties %}<option value="{{ item[0] }}">{{ item[0] }}</option>{% endfor %}</select></td>
                                                </tr>
                                                {%endfor %}
                                        </tbody>
                                        
                                        </table>
                                        
                                        <p class="text-right">
                                        <button type="button" class="btn btn-primary btn-xs" id="depsmore-rows">+ Add row</button>
                                        <span> | </span>
                                        <button type="button" class="btn btn-danger btn-xs" id="depsless-rows">- Remove row</button>                                                  
                                        </p>
                                                                                            
                                    </div><!-- /endtable5 -->

                                    
                                    </fieldset>

                                    <div class="form-group">
                                        <div class="col-lg-10 col-lg-offset-2">
                                            <input type="hidden" name="app_id" value="{{ app_id }}">
                                            <input type="submit" value="Save relations and dependencies" class="btn btn-success">
                                        </div>
                                    </div>

                                    </form><!-- /form edt-tab3 --> 
                                                                                                            
                                </div><!-- /endtab3 -->
                                {% endif %}


                                {% if n_trows == 21 %}
                                <div class="tab-pane fade" id="experiment">
                                    <form class="form-horizontal" id="object-properties-specs" action="." method="POST">

                                    <!-- Fourth step : Editing the Experiment...  -->
                                    
                                    <fieldset>
                                        <legend>General</legend>
                                        
                                        <div class="form-group">
                                            <label for="experiment_name" class="col-lg-2 control-label">Title:</label>
                                            <div class="col-lg-4">
                                                <input type="text" name="experiment_name" class="form-control"  value="{{ experiment_name }}">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="experiment_description" class="col-lg-2 control-label">Description:</label>
                                            <div class="col-lg-4">
                                                <input type="text" name="experiment_description" class="form-control" value="{{ experiment_description }}">
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label for="associated_domain" class="col-lg-2 control-label">Associated domain:</label>
                                            <div class="col-lg-4">
                                                <select class="form-control" disabled="" name="experiment_domain"><option>{{ experiment_domain }}</option></select>
                                            </div>
                                        </div>
                                    </fieldset>

                                    <fieldset>
                                        <legend>Selections</legend>
                                        
                                        <div class="form-group">
                                            <label for="objprops_selection" class="col-lg-2 control-label">Object properties:</label>
                                            <div class="col-lg-4">
                                                <select name="objprops_selection" id="objprops_selection" multiple="" class="form-control selectpicker">
                                                {% if n_trows == 21 %}
                                                    {% for item in object_properties %}
                                                    <option value="{{ item[0] }}">{{ item[0] }}</option>
                                                    {%endfor %}                                                
                                                {% else %}
                                                    {% for item in object_property_selection %}
                                                    <option value="{{ item }}">{{ item }}</option>
                                                    {%endfor %}
                                                {% endif %}
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="measures_selection" class="col-lg-2 control-label">Object measures:</label>
                                            <div class="col-lg-4">
                                                <select name="measures_selection" id="measures_selection" multiple="" class="form-control selectpicker">
                                                {% if n_trows == 21 %}
                                                    {% for item in object_measures %}
                                                    <option value="{{ item[0] }}">{{ item[0] }}</option>
                                                    {%endfor %}
                                                {% else %}
                                                    {% for item in object_measure_selection %}
                                                    <option value="{{ item }}">{{ item }}</option>
                                                    {%endfor %}
                                                {% endif %}
                                                </select>
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label for="sysprops_selection" class="col-lg-2 control-label">System properties:</label>
                                            <div class="col-lg-4">
                                                <select name="sysprops_selection" id="sysprops_selection" multiple="" class="form-control selectpicker">
                                                {% if n_trows == 21 %}
                                                    {% for item in system_properties %}
                                                    <option value="{{ item[0] }}">{{ item[0] }}</option>
                                                    {%endfor %}
                                                {% else %}
                                                    {% for item in system_property_selection %}
                                                    <option value="{{ item }}">{{ item }}</option>
                                                    {%endfor %}
                                                {% endif %}
                                                </select>
                                            </div>
                                        </div>
                                    </fieldset>

                                    <fieldset>
                                        <legend>Properties</legend> {# *Only* the selected properties will be saved #}

                                    <!-- Begin Table :: Object property specifications -->
                                    <div id="object-specs"  class="table-responsive">
                                        
                                        <table class="table table-striped table-hover">
                                        <caption>Object property specifications</caption>
                                            
                                        <thead>
                                            <tr>
                                                <th>Object property</th><th>Initial</th><th>Unit</th><th>Min</th><th>Max</th><th>Increment</th><th>Values</th>
                                            </tr>
                                        </thead>
                                           
                                        <tbody>
                                                {% for item in object_property_specification %}                                            
                                                <tr id="specrow-{{ loop.index0+1 }}">
                                                    <td><input type="text" name="exp_property" class="form-control" placeholder="" value="{{ item[0] }}"></td>
                                                    <td><input type="text" name="exprop_initial" class="form-control" placeholder="" value="{{ item[1] }}"></td>
                                                    <td><input type="text" name="exprop_unit" class="form-control" placeholder="" value="{{ item[2] }}"></td>
                                                    <td><input type="text" name="exprop_min" class="form-control" placeholder="" value="{{ item[3] }}"></td>
                                                    <td><input type="text" name="exprop_max" class="form-control" placeholder="" value="{{ item[4] }}"></td>
                                                    <td><input type="text" name="exprop_increment" class="form-control" placeholder="" value="{{ item[5] }}"></td>
                                                    <td><input type="text" name="exprop_value" class="form-control" placeholder="" value="{{ item[6] }}"></td>
                                                </tr>
                                                {%endfor %}
                                        </tbody>
                                        
                                        </table>

                                        <p class="text-right">
                                        <button type="button" class="btn btn-primary btn-xs" id="specmore-rows">+ Add row</button>
                                        <span> | </span>
                                        <button type="button" class="btn btn-danger btn-xs" id="specless-rows">- Remove row</button>                                                  
                                        </p>
                                        
                                    </div><!-- /endtable6 -->

                                    <!-- Begin Table :: System property values -->

                                    <div id="system-property-values"  class="table-responsive">
                                        
                                        <table class="table table-striped table-hover">
                                        <caption>System property values</caption>
                                            
                                        <thead>
                                            <tr>
                                                <th>Property</th>
                                                <th>Value</th>
                                            </tr>
                                        </thead>
                                            
                                        <tbody>
                                                {% for item in system_property_values %}
                                                <tr id="sysvalrow-{{ loop.index0+1 }}">
                                                    <td><input type="text" name="exp_sysprop" class="form-control" placeholder="" value="{{ item[0] }}"></td>
                                                    <td><input type="text" name="exp_sysprop_value" class="form-control" placeholder="kg" value="{{ item[1] }}"></td>
                                                </tr>
                                                {%endfor %}
                                        </tbody>
                                        
                                        </table>

                                        <p class="text-right">
                                        <button type="button" class="btn btn-primary btn-xs" id="valuemore-rows">+ Add row</button>
                                        <span> | </span>
                                        <button type="button" class="btn btn-danger btn-xs" id="valueless-rows">- Remove row</button>                                                  
                                        </p>
                                        
                                    </div><!-- /endtable7 -->
                                    
                                    </fieldset>  

                                    <div class="form-group">
                                        <div class="col-lg-10 col-lg-offset-2">
                                            <input type="hidden" name="app_id" value="{{ app_id }}">                                  
                                            <input type="submit" value="Save experiment" class="btn btn-success">  
                                        </div>
                                    </div>
                                            

                                    </form><!-- /form edt-tab4 --> 
                                                                                                            
                                </div><!-- /endtab4 -->
                                {% endif %}


                                <div class="tab-pane fade" id="preview">
                                    <iframe src="{{ url_for('.edt_index', app_id = app_id) }}" width="998" height="1300" frameborder="0" scrolling="no"></iframe>
                                    <div>
                                        <a href="{{ url_for('.edt_widget', app_id = app_id) }}">[+] Widget link</a>
                                    </div>
                                </div><!-- /endtab5 -->
                                                                                          
                            </div><!-- /end tabs content-->
                        </div><!-- end wrap edt tables -->
                                            
                    </div>
                </div>
            </div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='initializr/js/vendor/jquery-1.10.1.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='initializr/js/vendor/bootstrap.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='initializr/js/vendor/bootstrap-select/bootstrap-select.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='initializr/js/table-number.js') }}" type="text/javascript"></script>

<script>
jQuery(document).ready(function($) {
    $('.collapse').collapse();
    $('.selectpicker').selectpicker();
    $('.table').tableAddCounter();         

    $("button#propless-rows").click(function() {
        var rowCount = $('table#tproperties  tr:last').index() + 1;
        if (rowCount > 1) {
            var clonedRow = $("table#tproperties tbody tr:last").remove();
        } else {
            alert("The first row cannot be removed.");
        }
    });
    
    var i = $("table#tproperties tbody tr").length;
    $("button#propmore-rows").click(function() {
        var rowCount = $('table#tproperties  tr:last').index() + 1;
        var clonedRow = $("table#tproperties tbody tr:last").clone();
        i++;
        $("table#tproperties").append(clonedRow);
        var $span = $("table#tproperties tbody tr:last span:last");
        var $rowid = $("table#tproperties tbody tr:last");                
        //alert($span.text());
        $span.text(Number($span.text()) + 1);
        cindex = 99;
        $clonedRow.attr('id', 'prop'+(cindex) ); //update row id        
    });
});
</script>
{% endblock scripts %}
