{# This template contains macros for adding input boxes which can be used, for instance, to change
the name of applications dynamically, in the Google Docs title style #}

{% macro input_modal_autofocus_fix() %}
    // Every time a modal is shown, if it has an autofocus element, focus on it.
    $('.modal').on('shown.bs.modal', function() {
      $(this).find('[autofocus]').focus();
    });
{% endmacro %}

{% macro render_input_modal_html(modalid, textfieldid, title, requesttext, onsave) %}

{#    <!-- Button trigger modal -->#}
{#    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#{{ modalid }}">#}
{#        Launch demo modal#}
{#    </button>#}


    <!-- Modal -->
    <div class="modal fade" id="{{ modalid }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></a>
                    <h4 class="modal-title" id="myModalLabel">{{ title }}</h4>
                </div>
                <form>
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="name-field">{{ requesttext }}</label>
                            <input type="text" autofocus="true" class="form-control" id="{{ textfieldid }}" placeholder=""/>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <a type="button" class="btn btn-default" data-dismiss="modal">Close</a>
                        <button type="submit" class="btn btn-primary" onclick="{{ onsave }}">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endmacro %}