<script type="text/javascript">


    var mngCommon = angular.module("mngCommon", []);

    mngCommon.directive("mngAdvancedMode", mngAdvancedMode);
    mngCommon.directive("mngChangeableAppName", mngChangeableAppName);

    // TO-DO
    function mngChangeableAppName() {
        return {
            restrict: "A",
            scope: {
                appname: "=" // Variable to bind.
            }
        }
    }

    function mngAdvancedMode() {
        return {
            restrict: "E",
            scope: {
                advancedMode: "="
            }, // We want an isolated scope so as to be unable to access parent scopes from the directive.
            replace: false,
            transclude: false,
            template: '<div style="width: 100%;">' +
                    '<div style="margin-left: auto; margin-right: 2%; float:right; clear:both;">' +
                    '{{ gettext("Advanced mode:") }}' +
                    '<form>' +
                    '<input type="checkbox" name="advanced-mode" checked>' +
                    '</form>' +
                    '</div>' +
                    '</div>',
            link: function (scope, element, attrs) {
                // Initialize the advanced-mode switch.
                // We put it in link and not in controller because it seems to be the
                // standard for DOM manipulation and jQuery things.

                var configstore = new Persist.Store("configstore");

                var $advMode = $("[name='advanced-mode']");
                $advMode.bootstrapSwitch();

                configstore.get("advmode", function (ok, value) {
                    if (!ok || value == "false" || value == null)
                        value = false;
                    else
                        value = true;

                    scope.advancedMode = value;
                    //scope.$apply(); // Apparently apply is inappropriate here because this call is actually synchronous and run within the existing link angular scope.
                    $advMode.bootstrapSwitch("state", value);
                });

                $advMode.on("switchChange.bootstrapSwitch", function (ev, state) {
                    scope.advancedMode = state;
                    scope.$apply(); // So that angular knows of the change.
                    configstore.set("advmode", state);
                });
            } //!link
        }
    }


</script>
