{% set link = 'about' %}
{% extends 'master.html' %}

{% block body %}
    <div class="row">
        <div class="span2 offset2">
            <img src="{{ url_for('static', filename='golab.png') }}">
        </div>
        <div class="span8">
           <h1>{{ gettext('About') }}</h1>
           <p>{{ gettext('The AppComposer is an application that lets teachers adapt and translate Go-Lab applications. You may see more documentation in <a href="%(link)s">the documentation site</a>.', link = 'http://appcomposer.readthedocs.org/') }}
        </div>
    </div>

{% endblock %}
