{% set link = 'contact' %}
{% extends 'master.html' %}

{% block body %}
    <div class="row">
        <div class="span2 offset2">
            <img src="{{ url_for('static', filename='golab.png') }}">
        </div>
        <div class="span8">
           <h1>{{ gettext('Contact') }}</h1>
           <p>{{ gettext('For questions about the Go-Lab project, go to the <a href="%(link)s">main website</a>', link = 'http://www.go-lab-project.eu/contact') }}</p>
           <p>{{ gettext('You may access the code at %(link)s.', link = '<a href="https://github.com/porduna/appcomposer/">http://github.com/porduna/appcomposer</a>'|safe ) }}</p>
           <div class="alert">
                <h1>{{ gettext('Documentation is still not provided') }}</h1>
           </div>
        </div>
    </div>
{% endblock %}
