{% set link = 'home' %}
{% extends 'master.html' %}

{% block body %}
    <div class="hero-unit" align="center">
        <h1>{{ gettext("App Composer") }}</h1>
        <p style="margin: 15px">{{ gettext('Build supercool apps for your students!') }}</p>
        <p>
        <a class="btn btn-info btn-large" href="{{ url_for('translator.translator_index') }}"> {{ gettext('Translate applications') }} </a>
        <a class="btn btn-primary btn-large" href="{{ url_for('about') }}"> {{ gettext('Learn more') }} </a>
        </p>
    </div>
{% endblock %}
