{% set link = 'home' %}
{% extends 'master.html' %}

{% block body %}
    <div class="hero-unit" align="center">
        <h1>{{ gettext("Go-Lab App Composer") }}</h1>

        <p style="margin-top: 30px">
        <a class="btn btn-success btn-large" href="{{ url_for('translator.translator_index') }}"> {{ gettext('Translate applications') }} </a>
        <a class="btn btn-warning btn-large" href="http://gateway.golabz.eu/embed/"> {{ gettext('Embed apps') }} </a>
        <a class="btn btn-default btn-large" href="{{ url_for('about') }}"> {{ gettext('Learn more') }} </a>
        </p>
    </div>
{% endblock %}
