{% set link = 'home' %}
{% extends 'master.html' %}

{% block body %}
    <div class="hero-unit" align="center">
        <h1>{{ gettext("Go-Lab App Composer") }}</h1>
        <p>
        <a class="btn btn-info btn-large" href="{{ url_for('translator.translator_index') }}"> {{ gettext('Translate applications') }} </a>
        <a class="btn btn-success btn-large" href="{{ url_for('embed.index') }}"> {{ gettext('Embed apps in OpenSocial') }} </a>
        <hr>
        <a class="btn btn-warning btn-large" href="{{ url_for('adapt.adapt_appsearch') }}"> {{ gettext('Adapt OpenSocial apps (deprecated)') }} </a>
        <hr>
        <a class="btn btn-default btn-large" href="{{ url_for('about') }}"> {{ gettext('Learn more') }} </a>
        </p>
    </div>
{% endblock %}
