<html>
<head>
    <meta name="translations" lang="en" value="locales/translations-commons.json">
    <meta name="translations" lang="en" value="locales/translations-myapp.json">
    <meta name="translations" lang="en" value="http://composer.golabz.eu/graasp_i18n/languages/en_ALL.xml">
    <meta name="translations" lang="es" value="locales/translations-commons_es.json">
    <meta name="translations" lang="es" value="locales/translations-myapp_es.json">
</head>
<body>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/translations-jquery-1.0.js') }}"></script>
    <script>
        var prefs = new nextlab.i18n({ 
            debug: true, 
            endpoint: 'http://localhost:5000/translations/v1',
            language: 'es'
        });
        prefs.ready(function() {
            console.log(prefs.getMessage('message1_1'));
        });

    </script>
</body>
</html>
