{% set title = "Create/edit an app" %}
{% set current_link = "home" %}
{% extends 'composers/adapt/layout.html' %}


{% block body_content %}

        <div class="row">
            <div class="col-lg-12">                
            {% from "user/wl_form_helpers.html" import render_field %}

            {% with messages = get_flashed_messages() %}
                {% for message in messages %}
                    <div class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endwith %}
            </div>                
        </div>

        <h4>Create a new app</h4>
        <hr>
        
        <div class="row">            
            <div class="col-lg-4">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h5 class="panel-title">Details of the app</h5>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal" method="POST" action=".">
                            
                            <div class="form-group">
                                <label for="app_name" class="col-lg-4 control-label">Name: </label>
                                <div class="col-lg-8">
                                    <input type="text" name="app_name" class="form-control" placeholder="app name" autofocus>
                                    <input type="hidden" name="adaptor_type" value="{{ adaptor_type }}">                                                                                                                            
                                </div>
                            </div>                                                                                                                                                                                     

                            <div class="form-group">
                                <label for="app_description" class="col-lg-4 control-label">Description: </label>
                                <div class="col-lg-8">
                                    <input type="text" name="app_description" class="form-control" placeholder="">                                                                                        
                                </div>
                            </div>  

                            {% if  adaptor_type == 'experiment_design' %}
                            <div class="form-group">
                                <label for="n_rows" class="col-lg-4 control-label">Elements: </label>
                                <div class="col-lg-8">
                                    <input type="text" name="n_rows" class="form-control"  placeholder="max. number of rows">                                                                                        
                                </div>
                            </div>
                            {% endif %} 
                            
                            <a class="btn btn-default" id="returnbtn" href="{{ url_for('adapt.adapt_index') }}">« Go Back</a>
                            <input type="submit"  class="btn btn-success" value="Build it »">                                                                                              
                                       
                                                                            
                        </form>                        
                                            
                    </div>                                                        
                </div>
            </div>
        </div>

        <h4>...or edit an existing one from the following list:</h4>
        <hr>

        <div class="row">

        <!-- The list of apps should be retrieved only once, and only query the database if there has been an update.-->
        
            {% for app in apps %}
            <div class="col-lg-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h5 class="panel-title">{{ app.name }}</h5>
                    </div>
                    <div class="panel-body">
                        <h6 class="text-danger">Type: {{ app.composer }}</h6>
                        <p><small>Created: {{ app.creation_date }}</small></p>
                        <p><small>Modified: {{ app.modification_date }}</small></p>
                        <p><small>Accessed: {{ app.last_access_date }}</small></p>
                        <p><a href="{{ build_edit_link(app) }}" class="btn btn-primary" type="button">Edit »</a></p>     
                        
                                           
                    </div>
                </div>
            </div>
            {% endfor %}

{% endblock %}   
