{% set title = "Edit the app content" %}
{% set current_link = "home" %}
{% set current_composer = "adapt" %}
{% extends 'composers/adapt/layout.html' %}

{% block styles %}
    {{ super() }}
    <link href="{{ url_for('static', filename='initializr/js/vendor/bootstrap-tokenfield/tokenfield-typeahead.min.css') }}"
          type="text/css" rel="stylesheet">
    <link href="{{ url_for('static', filename='initializr/js/vendor/bootstrap-tokenfield/bootstrap-tokenfield.min.css') }}"
          type="text/css" rel="stylesheet">
{% endblock styles %}

{% block body_content %}


    {{ modal.render_input_modal_html("appname-modal", "appname-field", gettext("Change App name"), gettext("Insert the new name: "), "onAppTitleSave()") }}


    <div class="col-lg-10">
        {% if url %}
            <div class="alert alert-info">
                <h4>{{ gettext("Adaptation URL") }}</h4>

                <p>{{ gettext("Copy the following URL and put it in Graasp to share this adaptation with other people:") }}</p>
                <br/>
                <input id="app_url" type="text" value="{{ url_for('.app_xml', app_id = app_id, _external = True) }}"
                       style="width: 90%" readonly>
            </div>
        {% endif %}
    </div>

    <div id="adaptblock">

    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1 id="apptitle" class="dyn-changeable" data-appname="{{ name }}">{{ gettext("Adapt") }} - {{ name }}</h1>
            </div>
        </div>
    </div>

    <div class="well">
        <div class="row">
            <div class="col-lg-12">

                <!-- Tabs & Form for the variables
                ================================================== -->

                <div class="wrap">
                    <ul class="nav nav-tabs" style="margin-bottom: 15px;">
                        {% block tab_links %}
                            <li class="active"><a href="#edit" data-toggle="tab">{{ gettext("Edit") }}</a></li>
                            <li><a id="preview-tab" href="#preview" data-toggle="tab">{{ gettext("Preview") }}</a></li>
                        {% endblock %}
                    </ul>

                    <div id="tabadapt" class="tab-content">
                        <div class="tab-pane fade active in" id="edit">
                            {% block edit_tab %}
                            {% endblock %}

                        </div>

                        <div class="tab-pane fade" id="preview">
                            {% block preview_tab %}
                            {% endblock %}

                        </div>
                    </div>
                </div>
                <!-- end wrap forms-->
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{{ super() }}

    <script type="text/javascript">
    $(document).ready(function(){
        $("#preview-tab").click(function(ev){
            // Reload the frame when the user clicks on preview.
            console.log("[DBG]: Reloading frame");
            $("#preview-frame").attr("src", function(i, val) { return val; });
        });
    });


    // To be able to dynamically edit the app name.

        // To handle the dynamic modal changers.

        var _modal = {}; // To save modal data.

        {# This is referenced by the modal generation macro #}
        function onAppTitleSave() {
            var requrl = "{{ url_for("index", _external=True) }}" + "change/appname/" + _modal.appuid;
            var newname = $("#appname-field").val();
            $.post(requrl, {"name": newname})
                    .done(function(result){
                        // TODO: Handle this dynamically instead of just reloading.
                        window.location.reload();
                    })
                    .fail(function(result){
                        console.error(result);

                        // TODO: IMPROVE THIS.
                        alert({{ gettext("Could not change the name. Please ensure that the new name is valid and unique.") }});
                    });
        }

        // Initialize the dynamic app and description changers.
        $(document).ready(function () {

            {# Required for autofocus to work properly #}
            {{ modal.input_modal_autofocus_fix() }}

            $("#apptitle").click(function (ev){
                var appuid = "{{ app_id }}";
                _modal.appuid = appuid;
                $("#appname-field").val($(ev.target).data("appname"));
                $("#appname-modal").modal({show: true});
            });

        });

    </script>
{% endblock scripts %}

