{% set title = "Edit the app content" %}
{% set current_link = "home" %}
{% extends 'composers/adapt/layout.html' %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='initializr/css/bootstrap-tagsinput.css') }}">
{% endblock styles %}

{% block body_content %}
    <div id="adaptblock">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h1 id="apptitle">Adapt a guidance app - {{ adaptor_type }} - {{ name }} {{ n_rows }} </h1>
                </div>
            </div>
        </div>

        <div class="well">
            <div class="row">
                <div class="col-lg-12">

                    <!-- Tabs & Form for the variables
                    ================================================== -->

                    <div class="wrap">
                        <ul class="nav nav-tabs" style="margin-bottom: 15px;">
                            <li class="active"><a href="#edit" data-toggle="tab">Edit</a></li>
                            <li><a href="#preview" data-toggle="tab">Preview</a></li>
                        </ul>

                        <div id="tabadapt" class="tab-content">
                            <div class="tab-pane fade active in" id="edit">
                            {% block edit_tab %}
                            {% endblock %}

                        </div>

                        <div class="tab-pane fade" id="preview">
                            {% block preview_tab %}
                            {% endblock %}

                        </div>
                    </div>
                </div><!-- end wrap forms-->
            </div>
        </div>
    </div>
{% endblock %}

