{% set title = "Adaptation tool" %}
{% set current_link = "home" %}
{% extends 'composers/adapt/layout.html' %}

    {% block styles %}
        {{ super() }}
        <link rel="stylesheet"  type="text/css" href="{{ url_for('static', filename='initializr/js/vendor/image-picker/image-picker.css') }}">
    {% endblock styles %}

{% block body_content %}

        <div class="adapt_block">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-header">
                        <h1 id="adapt_title">Adapt a guidance app</h1>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                  <div class="well">

                        <form class="form-horizontal" id="apptype" action="{{ url_for('adapt.adapt_index') }}" method="POST">
                            <legend>Pick your choice</legend>

                            <hr>

                            <div class="form-group">

                              <!-- App type list -->
                              <!-- TODO: Include Font Awesome icons -->
                                <div id="picker" class="col-lg-10 col-lg-offset-2">
                                        <select name="adaptor_type" class="form-control">
                                            {% for adaptor_id, adaptor in adaptors.iteritems() %}
                                                <option value="{{ adaptor_id }}">  {{ adaptor['name'] }}  </option>
                                            {% endfor %}
                                        </select>
                                </div>

                                <div class="col-lg-10 col-lg-offset-2">
                                    <label class="control-label" for="createbtn"></label>
                                    <div class="controls">
                                        <input type="hidden" name="n_rows" value="5">
                                        <a href="{{ url_for("user.index") }}" class="btn btn-default btn-medium">&laquo; Go back to main</a>
                                        <input type="submit"  class="btn btn-success" value="Next step &raquo;">
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

{% endblock %}

