{% set title = "Adaptation tool" %}
{% set current_link = "home" %}
{% extends 'composers/adapt/layout.html' %}

    {% block styles %}
        {{ super() }}
        <link rel="stylesheet"  type="text/css" href="{{ url_for('static', filename='initializr/js/vendor/image-picker/image-picker.css') }}">
    {% endblock styles %}

{% block body_content %}

        <div class="adapt_block">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-header">
                        <h1 id="adapt_title">{{ gettext("Adapt a guidance app") }}</h1>
                    </div>
                </div>
            </div>

            <div class="row">
                {% for adaptor_id, adaptor in adaptors.iteritems() %}
                    <div class="col-md-4 app">
                        <div class="alert alert-warning">
                            <h3>{{ adaptor.name }}</h3>
                            {% if adaptor.description %}
                                <p>{{ adaptor.description|safe }}</p>
                            {% endif %}
                            <br/>
                            <div>
                                <a href="{{ url_for('.adapt_create', adaptor_type = adaptor_id) }}" class="btn btn-primary" type="button">{{ gettext("Create") }}</a>
                                {% if adaptor.about_endpoint %}
                                    <a href="{{ url_for(adaptor.about_endpoint) }}" class="btn btn-info" type="button">{{ gettext("Read more") }}</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>  
                {% endfor %}
            </div> <!-- row -->
        </div> <!-- adapt block -->

{% endblock %}

