{% set title = "Adaptation tool" %}
{% set current_link = "home" %}
{% set current_composer = "adapt" %}
{% extends 'composers/adapt/layout.html' %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='initializr/js/vendor/image-picker/image-picker.css') }}">
{% endblock styles %}

{% block body_content %}

    <div class="adapt_block">
        <div class="row">
            {% for adaptor_id, adaptor in adaptors.iteritems() %}
                <div class="col-md-4 app">
                    <div class="alert alert-warning">
                        <h3>{{ adaptor.name }}</h3>
                        {% if adaptor.description %}
                            <p>{{ adaptor.description|safe }}</p>
                        {% endif %}
                        <br/>

                        <div>
                            <form method="get" action="{{ url_for('.adapt_create', adaptor_type = adaptor_id) }}">
                                <input type="hidden" name="appname" value="{{ request.values.get("appname") }}"/>
                                <input type="hidden" name="appurl" value="{{ request.values.get("appurl") }}"/>
                                <input type="submit" class="btn btn-primary" type="button"
                                       value="{{ gettext("Start adapting") }}"/>
                                {% if adaptor.about_endpoint %}
                                    <a href="{{ url_for(adaptor.about_endpoint) }}" class="btn btn-info"
                                       type="button">{{ gettext("Read more") }}</a>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- row -->
    </div> <!-- adapt block -->


    <hr>

    <h3>
        {{ gettext("Existing Adaptations:") }}
        <p>
            <small>{{ gettext("View or Duplicate an existing Adaptation instead of creating your own") }}</small>
        </p>
    </h3>

    <table id="appsearch-table" class="appsearch-table display compact" cellspacing="0" width="100%"
           style="">
        <thead>
        <tr>
            <th>{{ gettext("Title") }}</th>
            <th>{{ gettext("Description") }}</th>
            <th>{{ gettext("Owner") }}</th>
            <th>{{ gettext("Type") }}</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>{{ gettext("Title") }}</th>
            <th>{{ gettext("Description") }}</th>
            <th>{{ gettext("Owner") }}</th>
            <th>{{ gettext("Type") }}</th>
        </tr>
        </tfoot>
        <tbody>

        </tbody>
    </table>

    <button class="btn-existing-adapts btn btn-success" disabled>View</button>

    <!-- URL to be set dynamically" -->
    <a id="duplicate-btn" href="#" class="btn-existing-adapts btn btn-primary" disabled>Duplicate</a>

{% endblock %}


{% block scripts %}
    {{ super() }}

    <script type="text/javascript">

        var appdata = {{ apps|tojson|safe }};

        // Called whenever a row in the AppSearch table is selected.
        function onRowSelected(row) {
            var fulldata = appdata[row.index()];
            $(".btn-existing-adapts").removeAttr("disabled");

            // Update the link to Duplicate.
            $("#duplicate-btn").prop("href", "{{ url_for("adapt.adapt_duplicate", appid="") }}".replace(/\/$/, fulldata["app_id"]));
        } //! onRowSelected

        $(document).ready(function () {

            // Initialize the AppSearch table and fill the values.

            // To remember which item is selected (if any).
            var selected = undefined;

            appsearch = $("#appsearch-table").DataTable(
                    {
                        language: {
                            "search": "{{ gettext("Search:") }}",
                            "processing": "{{ gettext("Processing...") }}",
                            "info": "{{ gettext("Showing page _PAGE_ of _PAGES_") }}",
                            "lengthMenu": "{{ gettext("Display _MENU_ records per page") }}",
                            "zeroRecords": "{{ gettext("Nothing found") }}",
                            "infoEmpty": "{{ gettext("No records available") }}",
                            "infoFiltered": "{{ gettext("(filtered from _MAX_ total records)") }}",
                            "paginate": {
                                first: "{{ gettext("First") }}",
                                previous: "{{ gettext("Previous") }}",
                                next: "{{ gettext("Next") }}",
                                last: "{{ gettext("Last") }}"
                            }
                        },

                        autoWidth: false,
                        lengthChange: true,
                        columnDefs: [
                            {
                                "targets": 1, // Define width of column number 1
                                "sortable": false,
                                "width": "50%"
                            }
                        ]
                    }
            );

            for(var i = 0; i < appdata.length; i++)
            {
                var data = appdata[i];

                // Make the description shorter if needed.
                var desc = data["description"];
                if(!desc)
                    desc = "";
                if (desc.length > 50)
                    desc = desc.substring(0, 50) + "...";

                // Append the row to the table
                appsearch.row.add([data["name"], desc, data["owner"], data["type"]]);

                // Add a long description to appear on mouse over.
                var desc_td = appsearch.cell(i, 1).node();
                $(desc_td).attr("title", data["description"]);
            }

            appsearch.draw();

            // For handling selection etc.
            $('#appsearch-table tbody').on('click', 'tr', function () {
                console.log("CLICK");

                var tr = this;
                row = appsearch.row(tr);

                if (selected !== undefined) {
                    $(selected).removeClass("selected");
                }

                $(row.node()).toggleClass("selected");
                selected = row.node();

                onRowSelected(row);
            });
        }); // !ready
    </script>
{% endblock %}

