
    <div class="col-xs-12 well">

        <h1 ac-translate-me><i class="fa fa-table fa-2x" style="vertical-align: middle"></i> Applications List</h1>
        <p ac-translate-me style="padding-bottom: 15px">
            Choose an application to translate:
        </p>

        <table datatable="ng" dt-options="dt.options" dt-column-defs="dt.columnDefs" class="table-disable-hover row-border hover">
            <thead>
            <tr>
                <th ac-translate-me>Title</th>
                <th ac-translate-me>Description</th>
                <th ac-translate-me>Translations</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="app in apps" ng-click="selectApp(app, $index)" ng-class="{'my-row-highlight': isSelected(app)}" >
                    <td class="noselect">
                        <div class="my-thumbnail-wrapper">
                            <a href="#" class="my-app-thumbnail">
                                <img class="my-app-thumbnail-img" ng-src="{{ app.app_thumb }}" alt="...">
                            </a>
                            <span>
                            {{ app.title }}
                            </span>
                        </div>
                    </td>
                    <td style="text-overflow: ellipsis">
                        <span tooltip-html-unsafe="{{ app.description }}">
                            {{ app.description | plaintext | descriptionFilter | characters:60 }}
                        </span>
                    </td>
                    <td>
                        <span class="badge" ng-repeat="lang in app.original_languages_simplified">
                            {{ lang }}
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>

        <ac-appurl appurl="appurl"></ac-appurl>

    </div>
