{% extends "translator/base.html" %}
{% block body %}



{% if not apps %}
    <h1>{{ title }}</h1>

    <div class="alert alert-warning">No app found</div>
{% else %}
    <div class="text-center col-sm-12">
        <h1>{{ title }} translations</h1>
        <div class="row">
        <div class="alert alert-info col-sm-6 col-sm-offset-3">This page retrieves the information from the MongoDB server to show which applications are translated. What you see here is what Shindig should be rendering.</div>
        </div>
    </div>

    <h2>Translation {{ title }}</h2>
    {% for url, bundles in apps.iteritems() %}
        <h4><a target="_blank" href="{{ url }}">{{ url }}</a></h4>

        <div>
            {% for bundle in bundles %}
            <a class="btn btn-default" href="{{ url_for(xml_method, lang=bundle['lang'], target=bundle['target'], url = url) }}">{{ bundle['lang'] }} - {{ bundle['target'] }}</a>
            {% endfor %}
        </div>

        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}
{% endif %}

{% endblock %}
