{% extends "translator/base.html" %}
{% block body %}

<br>
<h1>Statistics: Go-Lab Repository</h1>

<div class="row">
    <h3>Summary</h3>

    <div class="col-lg-6">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>What?</th>
                <th>How many?</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Total labs</td>
                <td>{{ total_labs }}</td>
            </tr>
            <tr>
                <td>Total resources</td>
                <td>{{ total_lab_apps }}</td>
            </tr>
            <tr>
                <td>Smart Gateway Plug-ins</td>
                <td>{{ len_sg_labs }} ({{ '%.2f' % (100.0*len_sg_labs/total_lab_apps) }}%)</td>
            </tr>
            <tr>
                <td>App Composer</td>
                <td>0 (replaced by Smart Gateway)</td>
            </tr>
            <tr>
                <td>Smart Gateway Embedder</td>
                <td>{{ len_ac_labs }} ({{ '%.2f' % (100.0*len_ac_labs/total_lab_apps) }}%)</td>
            </tr>
            <tr>
                <td>Smart Gateway (Plug-ins + Embedder)</td>
                <td>{{ len_ac_labs + len_sg_labs }} ({{ '%.2f' % (100.0*(len_ac_labs+len_sg_labs)/total_lab_apps) }}%)</td>
            </tr>
            <tr>
                <td>Other</td>
                <td>{{ len_other_labs }} ({{ '%.2f' % (100.0*(len_other_labs)/total_lab_apps) }}%)</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>


<div class="row">
    <h3>Plug-in providers</h3>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Provider</th>
                <th>Number</th>
            </tr>
        </thead>
        <tbody>
            {% for provider_name, provider_count in per_provider|dictsort(false, 'value', reverse=True) %}
            <tr>
                <td>{{ provider_name }}</td>
                <td>{{ provider_count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>   
</div>

<div class="row">
    <h3>Full list</h3>

    <ul>
        <li><a href="#SmartGateway">Smart Gateway Plug-ins</a></li>
        <li><a href="#AppComposer">Smart Gateway Embedder</a></li>
        <li><a href="#OtherLabs">Other Labs</a></li>
    </ul>

    {% for name, cur_labs in [ ('Smart Gateway', sg_labs), ('App Composer', ac_labs), ('Other Labs', other_labs) ] %}
    <a name="{{ name.replace(' ', '') }}"></a>
    <h4>{{ name }}</h4>

    <table class="table table-bordered">
        <thead>
            <tr>
                <td>#</td>
                <td>Logo</td>
                <td>Name</td>
                <td>Links</td>
                <td>Provider</td>
            </tr>
        </thead>
        <tbody>
            {% for cur_lab in cur_labs %}
            <tr>
                <td>
                    {{ loop.index }}
                </td>
                <td>
                    <a href="{{ cur_lab['lab_golabz_page'] }}"><img width="32" alt="{{ cur_lab['title'] }}" src="{{ cur_lab['lab_thumb'] }}"></a>
                </td>
                <td>
                    <a href="{{ cur_lab['lab_golabz_page'] }}">{{ cur_lab['title'] }}</a>
                </td>
                <td>
                    {% if cur_lab['lab_apps']|length == 1 %}
                        <a href="{{ cur_lab['lab_apps'][0]['app_url'] }}">{{ cur_lab['lab_apps'][0]['app_title'] }} ({{ cur_lab['lab_apps'][0]['app_url'][:50] }}...)</a>
                    {% else %}
                        <ul>
                            {% for lab_app in cur_lab['lab_apps'] %}
                                <li><a href="{{ lab_app['app_url'] }}">{{ lab_app['app_title'] }} ({{ lab_app['app_url'][:50] }}...)</a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </td>
                <td>
                    {% if 'provider' in cur_lab %}
                    {{ cur_lab['provider'] }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endfor %}
    
</div>
{% endblock %}
