{% extends "translator/base.html" %}
{% block body %}

<br>
<h1>Statistics</h1>

<div class="row">
<div class="alert alert-info col-md-6 col-md-offset-3">
    <p>This page contains some statistics of the App Composer. If you found other statistics interesting, just contact the AppComposer developers.</p>
</div>
</div>

<ul>
    <li><a href="{{ url_for('.stats_missing') }}">Missing:</a> list of applications that have been translated in the App Composer but which have not been applied. In most of the apps this is an automatic process. However, in some apps, the developer must retrieve the translations from the App Composer and manually apply them in their laboratory.</li>
    <li><a href="{{ url_for('.stats_status') }}">Status:</a> what applications have not yet been translated, what languages are performing better, etc.</li>
    <li><a href="{{ url_for('.stats_golabz') }}">Go-Lab Repository:</a> what apps are provided through the App Composer or Smart Gateway</li>
    <li><a href="{{ url_for('.translation_users') }}">Users:</a> what users have translated what, etc.</li>
    <li><a href="{{ url_for('.suggestions') }}">Suggestions:</a> texts provided by Microsoft Translator API, Google Translator, etc.</li>
    <li>Status:
        <ul>
            <li><a href="{{ url_for('.apps_failing') }}">Apps failing:</a> what apps are currently not available and since when.</li>
            <li><a href="{{ url_for('.apps_ssl') }}">Apps not supporting https:</a> what apps do not seem to support https.</li>
            <li><a href="{{ url_for('.apps_flash') }}">Apps using Flash:</a> what apps are using Flash.</li>
        </ul>
    </li>
</ul>

{% endblock %}
