{% extends "translator/base.html" %}
{% block body %}

{% macro display_bundles(id, apps) %}
    <div class="panel-group" id="accordion-{{ id }}" role="tablist" aria-multiselectable="true">
    {% for url, url_resources in apps.iteritems() %}
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading-{{ url|hash }}">
                <a name="{{ url }}"></a>
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion-{{ id }}" href="#collapse-{{ url|hash }}" aria-expanded="true" aria-controls="collapse-{{ url|hash }}">{% if url in golab_app_by_url %}
        {% set app = golab_app_by_url[url] %}
        <img src="{{ app.app_thumb }}" height="50px" style="margin-right: 20px">
        {{ app.name }} - 
    {% endif %}
                        {{ url }}
                    </a>
                </h4>
            </div>
            <div id="collapse-{{ url|hash }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-{{ url|hash }}">
                <div class="panel-body">
                    {% set bundles = url_resources['translations'] %}
                    <h4><a target="_blank" href="{{ url }}">{{ url }}</a></h4>
                    
                    <div>
                    <a class="btn btn-primary" href="{{ url_for('.translations_app_url_zip', app_url = url) }}">All languages</a>
                    {% for bundle in bundles %}
                        <a class="btn {% if bundle['from_developer'] %}btn-default{% else %}btn-info{% endif %}" href="{{ url_for('.translations_app_xml', lang=bundle['lang'], target=bundle['target'], app_url = url) }}">{{ bundle['lang'] }} - {{ bundle['target'] }}</a>
                    {% endfor %}
                    </div>
                    
                    {% if url_resources['categories'] %}
                        <br>
                        <h4>Partial translations by category:</h4>
                    {% endif %}
                    {% for category in url_resources['categories'] %}
                    <div class="col-sm-offset-1">
                    <h4>{{ category }}</h4>
                    <div>
                    <a class="btn btn-primary" href="{{ url_for('.translations_app_url_zip', app_url = url, category = category) }}">All languages</a>
                    {% for bundle in bundles %}
                        <a class="btn {% if bundle['from_developer'] %}btn-default{% else %}btn-info{% endif %}" href="{{ url_for('.translations_app_xml', lang=bundle['lang'], target=bundle['target'], app_url = url, category = category) }}">{{ bundle['lang'] }} - {{ bundle['target'] }}</a>
                    {% endfor %}
                    </div>
                    </div>
                    {% endfor %}

                    {% if not loop.last %}
                        <hr>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endmacro %}

{% if not golab_apps and not other_apps %}
    <div class="alert alert-warning">No app found</div>
{% else %}
    <div class="text-center col-sm-12">
        <h1>App translations</h1>
        <div class="row">
        <div class="alert alert-info col-sm-6 col-sm-offset-3">This is an automatic listing of all the applications stored in the App Composer Translator database.</div>
        </div>
        <div class="row">
        <div><a href="{{ url_for('.translations_app_all_zip') }}" class="btn btn-primary">Download all</a><a class="btn btn-danger" href="{{ url_for('.translation_upload') }}">Upload</a></div>
        </div>
    </div>

    <br><br>
    <h2>Go-Lab repository applications</h2>
    <br><br>
    {{ display_bundles("golab", golab_apps) }}

    <hr>
    <br><br>
    <h2>Other applications</h2>
    <br><br>
    {{ display_bundles("other", other_apps) }}

{% endif %}

{% endblock %}
