{% extends "translator/base.html" %}
{% block body %}

{% if not golab_apps and not other_apps %}
    <div class="alert alert-warning">No app found</div>
{% else %}
    <div class="text-center col-sm-12">
        <h1>App translations</h1>
        <div class="row">
        <div class="alert alert-info col-sm-6 col-sm-offset-3">This is an automatic listing of all the applications stored in the App Composer Translator.</div>
        </div>
        <div class="row">
        <div><a href="{{ url_for('.translations_app_all_zip') }}" class="btn btn-primary">Download all</a><a class="btn btn-danger" href="{{ url_for('.translation_upload') }}">Upload</a></div>
        </div>
    </div>

    <br><br>
    <h2>Go-Lab repository applications</h2>
    <br><br>
    {% for url, bundles in golab_apps.iteritems() %}
        <h4><a target="_blank" href="{{ url }}">{{ url }}</a></h4>
        
        <div>
        <a class="btn btn-primary" href="{{ url_for('.translations_app_url_zip', app_url = url) }}">All languages</a>
        {% for bundle in bundles %}
            <a class="btn {% if bundle['from_developer'] %}btn-default{% else %}btn-info{% endif %}" href="{{ url_for('.translations_app_xml', lang=bundle['lang'], target=bundle['target'], app_url = url) }}">{{ bundle['lang'] }} - {{ bundle['target'] }}</a>
        {% endfor %}
        </div>

        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}

    <hr>
    <br><br>
    <h2>Other applications</h2>
    <br><br>
    {% for url, bundles in other_apps.iteritems() %}
        <h4><a target="_blank" href="{{ url }}">{{ url }}</a></h4>
        
        <div>
        <a class="btn btn-primary" href="{{ url_for('.translations_app_url_zip', app_url = url) }}">All languages</a>
        {% for bundle in bundles %}
            <a class="btn {% if bundle['from_developer'] %}btn-default{% else %}btn-info{% endif %}" href="{{ url_for('.translations_app_xml', lang=bundle['lang'], target=bundle['target'], app_url = url) }}">{{ bundle['lang'] }} - {{ bundle['target'] }}</a>
        {% endfor %}
        </div>

        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}

{% endif %}

{% endblock %}
