{% extends "translator/base.html" %}
{% block body %}

<br>
<h1>Currently registered users</h1>

<table class="table">
    <thead>
        <tr>
            <th>Gravatar</th>
            <th>First name</th>
            <th>Messages translated</th>
        </tr>
    </thead>
    <tbody>
        {% for user_data in users_by_gravatar|sort(attribute='texts', reverse=True) %}
        <tr>
            <td><img src="{{ user_data['gravatar_url'] }}"></td>
            <td>{{ user_data['display_name'] }}</td>
            <td>{{ user_data['texts']  }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
