<Module>
    <ModulePrefs title="{{ title }}">
        <Require feature="osapi" />
    </ModulePrefs>
    <Content type="html" view="home,canvas">
     <![CDATA[
    {% from "simpletext/_simpletext.html" import render_simpletext %}
    {{ render_simpletext(value) }}
    ]]>
    </Content>
</Module>
