{% extends 'user/master.html' %}

{% block body %}

<h1>
Welcome! 
</h1>
<h2>
You are logged in as <a href="profileeditview">{{session.login}}</a>.
</h1>


<div class="container">
    <div class="row">

        {% for composer in composers %}
        <div class="span4">
            <h2>
                {{composer.name}}
            </h2>
            <p>
                {{composer.description}}
            </p>
            <p>
                <a class="btn" href="{{url_for(composer.new_endpoint)}}">
                    Start composing &raquo;
                </a>
            </p>
        </div>
        {% endfor %}


    </div>
</div>

{% endblock %}
