{% extends 'user/master.html' %}

{% block body %}

    <div class="container">

        <div class="jumbotron">
            <h1>{{ gettext("Welcome %(user)s!", user = session.name) }}</h1>
            <p>{{ gettext("This is the main page of the App Composer. The App Composer lets you customize an application easily, in different ways. Choose the type of App Composer you want to use, and get started!") }}</p>
            <p>
                <a href="#" class="btn btn-primary btn-large">{{ gettext("Learn more") }} &raquo;</a>
                <a href="{{ url_for("user.apps.index") }}" class="btn btn-success btn-large">{{ gettext("Go to My Apps") }} &raquo;</a>
            </p>
        </div>


        <div class="row">
                {% for composer in composers %}
            <div class="col-sm-4">
                <h2>{{composer.name}}
                </h2>
                <p>
                    {{composer.description}}
                </p>
                <p>
                    <a class="btn btn-primary" href="{{url_for(composer.new_endpoint)}}">{{ gettext("Start composing") }} &raquo;
                    </a>
                </p>
            </div>
                {% endfor %}

        </div>
    </div>
{% endblock %}
