{# For the View that displays the list of apps that this user owns. #}

{% extends 'user/base.html' %}
{% block body %}

    <div class="row">

        <div class="col-sm-4 col-sm-offset-2 app _comp-box">
            <div class="alert alert-success" style="position: relative">
                <div>
                    <h3>{{ gettext("Translate") }}</h3>
                    <h5>{{ gettext("Translate OpenSocial applications easily. Share the translations with other teachers or
                        students.") }}</h5>
                </div>
                <div style="left: 0px; right: 0px; bottom: 20px; position: absolute;"> <!-- Place it at the bottom of the rectangle -->
                    <div class="text-center">
                        <a href="{{ url_for("translate.translate_index") }}" class="_comp-btn btn btn-large btn-primary"
                           type="button">{{ gettext("TRANSLATE") }}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 app _comp-box">
            <div class="alert alert-info" style="position: relative">
                <div>
                    <h3>{{ gettext("Adapt") }}</h3>
                    <h5>{{ gettext("Adapt applications. Configure them to fit the needs of your students.") }} this is just a test lorem ipsum dolor sit amet</h5>
                </div>
                <div style="left: 0px; right: 0px; bottom: 20px; position: absolute;"> <!-- Place it at the bottom of the rectangle -->
                    <div class="text-center">
                        <a href="{{ url_for("adapt.adapt_appsearch") }}" class="_comp-btn btn btn-large btn-primary"
                           type="button">{{ gettext("ADAPT") }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- /row -->

    <hr>

    <div class="row">

    <h1>{{ gettext("Your Applications") }}</h1>

    {% if apps|length == 0 %}
        <div class="span6 offset3">
            <div class="alert text-center alert-info">
                <h2>{{ gettext("No application.") }}</h2>
            </div>
        </div>

        <div class="row">
            {% for composer in composers %}
                <div class="span4 {% if composers|length == 1 %}offset5{% endif %} {% if composers|length == 2 and loop.index0 == 0 %}offset3{% endif %}">
                    <h2>{{ gettext(composer.name) }}
                    </h2>

                    <p>
                        {{ composer.description or gettext("No description") }}
                    </p>

                    <p>
                        <a class="btn"
                           href="{{ url_for(composer.new_endpoint) }}">{{ gettext("Start composing") }} &raquo;
                        </a>
                    </p>
                </div>
            {% endfor %}
        </div>

    {% else %}
        <div class="row" style="padding-bottom: 2em">
            <div class="col-sm-3 pull-right">
                <input name="text" maxlength="50" placeholder="{{ gettext("Search...") }}" type="text" class="form-control"
                       id="search_box"/>
            </div>
        </div>

        <div class="row">
            {% for app in apps %}
                <div class="col-sm-4 app">
                    <div class="alert {% if app.composer == "translate" %}alert-success{% else %}alert-info{% endif %}" style="position: relative">
                        <div>
                            <h3>{{ app.name }}</h3>
                            <h4>{{ gettext("Composer") }}: {{ app.composer }}</h4>

                            {% if app.description %}
                                <p>{{ app.description }}</p>
                            {% else %}
                                <p></p>
                            {% endif %}

                        </div>
                        <div style="position: absolute; bottom: 10px"> <!-- Place it at the bottom of the rectangle -->
                            <div>
                                {# {{ gettext("Created") }}: {{ app.creation_date.strftime("%Y-%m-%d %H:%M") }}<br> #}
                                <div>
                                    <h6>{{ gettext("Last modified") }}: {{ layout.locdate(app.modification_date) }}</h6>
                                </div>
                                {# {{ gettext("Accessed") }}: {{ app.last_access_date.strftime("%Y-%m-%d %H:%M") }}<br> #}
                            </div>
                            <div>
                                {% if build_edit_link(app) %}
                                    <a href="{{ build_edit_link(app) }}" class="btn btn-primary"
                                       type="button">{{ gettext("Open") }}</a>
                                {% endif %}
                                {% if build_duplicate_link(app) %}
                                    <a href="{{ build_duplicate_link(app) }}" class="btn btn-info"
                                       type="button">{{ gettext("Duplicate") }}</a>
                                {% endif %}
                                {% if build_delete_link(app) %}
                                    <a href="{{ build_delete_link(app) }}" class="btn btn-danger"
                                       type="button">{{ gettext("Delete") }}</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}


{% endblock %}

{% block scripts %}

    {{ super() }}

    <script type="text/javascript">

        $(document).ready(function () {

            // Prettify also the Translate and Adapt rectangles.#}

            var buttons = $("._comp-btn");
            var max = Math.max($(buttons[0]).width(), $(buttons[1]).width());
            $(buttons[0]).width(max);
            $(buttons[1]).width(max);

            var heights = $(".app>.alert").map(function () {
                return $(this).height();
            }).get();

            var maxHeight = Math.max.apply(null, heights);

            $(".app>.alert").height(maxHeight + 50);
        });
    </script>

{% endblock %}

{% block tail %}
    {{ super() }}
    <script>
        // If activated, in mobile phones it scrolls down, which is kind of weird
        // $('#search_box').focus();
        $('#search_box').keyup(function (e) {
            var current_value = $(this).val().toLowerCase();
            if (current_value == "") {
                $(".app").show();
            } else {
                $(".app").each(function (pos, element) {
                    var title = $(element).find("h3").text().toLowerCase();
                    var adaptor_name = $(element).find("h4").text().toLowerCase();
                    var description = $(element).find("p").text().toLowerCase();

                    if (description.toLowerCase().indexOf(current_value) >= 0 || adaptor_name.toLowerCase().indexOf(current_value) >= 0 || title.indexOf(current_value) >= 0) {
                        $(element).show();
                    } else {
                        $(element).hide();
                    }
                });
            }
        });
    </script>
{% endblock %}
