{# For the View that displays the list of apps that this user owns. #}

{% extends 'user/base.html' %}
{% block body %}


    {% if apps|length == 0 %}
        <div class="span6 offset3">
            <div class="alert text-center alert-info">
                <h2>{{ gettext("No application.") }}</h2>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-3 pull-right">
            <input name="text" maxlength="50" placeholder="Search..." type="text" class="form-control" id="search_box" />
        </div>
    </div>

    <div class="row">
        {% for app in apps %}
            <div class="span4 app">
                <div class="alert alert-info">
                    <div>
                        <h2>{{ app.name }}</h2>
                        <h4>{{ gettext("Composer") }}: {{ app.composer }}</h4><br>
                        {% if app.description %}
                            <p>{{ app.description }}</p>
                        {% else %}
                            <p></p>
                        {% endif %}
                        {# {{ gettext("Created") }}: {{ app.creation_date.strftime("%Y-%m-%d %H:%M") }}<br> #}
                        <div>
                            <h6>{{ gettext("Last modified") }}: {{ app.modification_date.strftime("%Y-%m-%d %H:%M") }}</h6>
                        </div>
                        {# {{ gettext("Accessed") }}: {{ app.last_access_date.strftime("%Y-%m-%d %H:%M") }}<br> #}
                    </div>
                    <div>
                        {% if build_edit_link(app) %}
                            <a href="{{ build_edit_link(app) }}" class="btn btn-primary" type="button">{{ gettext("Open") }}</a>
                        {% endif %}
                        {% if build_duplicate_link(app) %}
                            <a href="{{ build_duplicate_link(app) }}" class="btn btn-info" type="button">{{ gettext("Duplicate") }}</a>
                        {% endif %}
                        {% if build_delete_link(app) %}
                            <a href="{{ build_delete_link(app) }}" class="btn btn-danger" type="button">{{ gettext("Delete") }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}

{% block tail %}
    {{ super() }}
<script>
        // If activated, in mobile phones it scrolls down, which is kind of weird
        // $('#search_box').focus();
        $('#search_box').keyup( function(e) {
            var current_value = $(this).val().toLowerCase();
            if (current_value == "") {
                $(".app").show();
            } else {
                $(".app").each(function(pos, element) {
                    var title = $(element).find("h2").text().toLowerCase();
                    var adaptor_name = $(element).find("h4").text().toLowerCase();
                    var description = $(element).find("p").text().toLowerCase();

                    if (description.toLowerCase().indexOf(current_value) >= 0 || adaptor_name.toLowerCase().indexOf(current_value) >= 0 || title.indexOf(current_value) >= 0) {
                        $(element).show();
                    } else {
                        $(element).hide();
                    }
                });
            }
        });
    </script>
{% endblock %}
