<div class="row" ng-controller="TranslationsTabCtrl">

    <div class="col-md-3 col-sm-6">
        <form role="form">
            <h3 ac-translate-me>Language: </h3>
            <aselect ng-model="selected.lang" ng-change="selected.lang_info = appinfo.translations[selected.lang]"
                     ng-options="lang as info['name'] for (lang, info) in appinfo.translations" multiple
                     class="form-control">
            </aselect>

            <ui-select ng-model="selected.lang" ng-change="selected.lang_info = appinfo.translations[selected.lang]"
                     ng-options="lang as info['name'] for (lang, info) in appinfo.translations" multiple
                     class="form-control">
            </ui-select>
        </form>
    </div>

    <div class="col-md-3 col-sm-6">
        <form role="form">

            <h3 ng-if="selected.lang"> {{ ('Target'|translate) + ' (' + appinfo.translations[selected.lang].name + ')' }} </h3>

            <h3 ng-if="!selected.lang"> {{ ('Target'|translate) }} </h3>

            <aselect ng-model="selected.target"
                     ng-change="selected.target_info = selected.lang_info.targets[selected.target]"
                     ng-options="group as info['name'] for (group, info) in selected.lang_info.targets" multiple
                     class="form-control">
            </aselect>
        </form>
    </div>

    <div class="col-md-6 col-sm-12">
        <h3 ac-translate-me>Details:</h3>

        <div class="btn btn-success">
            {{ 'Edit translation' | translate }}
        </div>

        <dl class="" style="padding-top: 1em">

            <dt ac-translate-me=>URL</dt>
            <dd>{{ appinfo["url"] }}</dd>

            <dt ac-translate-me>Last modified:</dt>
            <dd>{{ selected.target_info["modified_date"]|date }}</dd>

        </dl>
    </div>

</div>