{% set title = "Edit the app content" %}
{% set adaptor_type = "JS Config" %}
{% extends 'composers/adapt/edit.html' %}

{% block edit_tab %}
    <div class="col-lg-12">
        <form class="form" action="." method="POST" enctype="multipart/form-data">
            {{ url_form.hidden_tag() }}
            {{ url_form.url.label }}: {{ url_form.url(size=100) }} <input type="submit" class="btn btn-primary" value="{{ gettext("Save") }}"/>
            {% if url_form.url.errors %}
                <div class="row">
                    <div class="alert alert-danger col-md-5 col-md-offset-3">
                        <ul>
                        {% for error in url_form.url.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
            {% if not url_form.url.data %}
                <div class="row">
                    <br>
                    <div class="alert alert-info col-md-11 col-md-offset-1">
                        {{ gettext("Put the address of an application to be adapted. Examples:") }}
                        <ul>
                        {% for example in ['http://www.weblab.deusto.es/weblab/client/weblabclientlab/jslabs/archimedes/archimedes.html'] %}
                            <li>{{ example }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        </form>
        {% if not url_form.url.errors and url %}
        <br><br>
        <iframe id="labiframe" name="labiframe" width="100%" height="800px" src="{{ url }}#configure=true"></iframe>
        <button class="btn btn-primary" id="save-button">{{ gettext("Save") }}</button>
        {% endif %}
    </div>
{% endblock %}

{% block preview_tab %}
    <div class="col-lg-10">
        {% if url %}
            <!-- <iframe src="{{ preview_url }}" width="750" height="590" frameborder="1px solid gray" scrolling="no"></iframe> -->
            <br>
            <div class="alert alert-danger" id="must_save_first">
                <h3>{{ gettext("No preview available: you must save first.") }}</h3>
            </div>

            <!-- <a target="_blank" href="{{ preview_url }}">Preview URL</a> -->
        {% else %}
            <div class="alert alert-danger">
                <h3>{{ gettext("No preview available: you must set a URL first") }}</h3>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% if url %}
        <script src="{{ url_for('gateway4labs.static', filename="weblab_iframeResizer.min.js") }}"></script>
        <script>
            iFrameResize({}, '#labiframe');

            $("#save-button").click(function() {
                document.getElementById("labiframe").contentWindow.postMessage("get-configuration", "*");
            });
            $("#display_url").hide();

            function processMessages(e) {
                if (new String(e.data).indexOf("lab-configuration::") == 0) {
                    var lab_config_string = new String(e.data);
                    var configuration = lab_config_string.substr("lab-configuration::".length);
                    var url = "{{ url_for('.save_json_config', app_id = app_id) }}";
                    $.post(url, configuration).done(function() { location.reload(); });
                } else if (new String(e.data).indexOf("request-initialization") == 0) {
                    {% if configuration %}
                        var configuration = {{ configuration|safe }};
                        var configurationString = JSON.stringify(configuration);
                        document.getElementById("labiframe").contentWindow.postMessage("initializer::" + configurationString, "*");
                    {% endif %}
                } else if (new String(e.data).indexOf("labmanager::") == 0) {
                    var labmanager_config_string = new String(e.data);
                    var labmanager_config_json = labmanager_config_string.substr("labmanager::".length);
                    var labmanager_config = JSON.parse(labmanager_config_json);
                    var configuration = "{{ quoted_config }}";
                    var testing_url = labmanager_config['widget_url'] + '?lab_config=' + configuration;
                    $("#app_url").attr("value", testing_url);
                    $("#display_url").show();
                    $("#must_save_first").hide();
                }
            }

            window.addEventListener('message', processMessages, false);

        </script>
    {% endif %}
{% endblock %}
