{% set title = "Edit the app content" %}
{% set adaptor_type = "JS Config" %}
{% extends 'composers/adapt/edit.html' %}

{% block edit_tab %}
    <div class="col-lg-10">
        <form class="form" action="." method="POST" >
            URL: <input type="text" name="url" size="100" value="{{ url }}"/> <input type="submit" class="btn btn-primary" value="Save"/>
        </form>
        <div id='ut_tools_conceptmapper_ConfigDialog'>
        </div>

    </div>
{% endblock %}

{% block preview_tab %}
    <div class="col-lg-10">
        {% if url %}
            <iframe src="{{ preview_url }}" width="750" height="590" frameborder="1px solid gray" scrolling="no"></iframe>
            <br>
            <a target="_blank" href="{{ url_for('.app_xml', app_id = app_id, _external = True) }}">App URL</a>
            <!-- <a target="_blank" href="{{ preview_url }}">Preview URL</a> -->
        {% else %}
            <div class="alert alert-danger">
                <h3>No preview available: you must set a URL first</h3>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% if definition_script %}
        <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js" type="text/javascript"></script>
        <script src="{{ definition_script }}" type="text/javascript"></script>
        <script type="text/javascript">

            function golabConfigurationSavedCallback(newConfiguration) {
                var url = "{{ url_for('.save_json_config', app_id = app_id) }}";
                // TODO: add json2.js if MSIE
                $.post(url, JSON.stringify(newConfiguration)).done(function() { location.reload(); });
            }
            
            // foo ={{ configuration_name }}=
            {% if configuration_name %}
            // This is the configuration on the database
            var existing_configuration = {{ configuration|safe }};
            for (var key in existing_configuration) {
                if (window.golab.tools.configurationDefinition["{{ configuration_name }}"][key] !== undefined) {
                    window.golab.tools.configurationDefinition["{{ configuration_name }}"][key].value = existing_configuration[key].value;
                }
                console.log(key);
            }
            {% endif %}
        </script>
        <script src="{{ url_for('jsconfig.static', filename='ConfigDialog0.1.js') }}" type="text/javascript"></script>
    {% endif %}
{% endblock %}
