{# For the View that displays the list of apps located in the system. #}

{% extends 'admin/master.html' %}
{% block body %}


<div class="row">
   
    {% for composer in composers %}
    <div class="span4" style="padding: 10px; border: 1px solid #003580; border-radius: 3px; margin: 15px;">
        <h2>{{composer.name}}
        </h2>
        <p>
            {{composer.description}}
        </p>
        <p>
            <a class="btn" href="{{url_for(composer.new_endpoint)}}">{{ gettext("Start composing") }} &raquo;
            </a>
        </p>
    </div>
    {% endfor %}

</div>

<br/>

<div class="row">

    <h2>{{ gettext("Existing Apps") }}</h2>

    {% if apps|length == 0 %}
        <div class="span6 offset3">
            <div class="alert text-center alert-info">
                <h2>{{ gettext("No application.") }}</h2>
            </div>
        </div>
    {% endif %}

    {% for app in apps %}

        {% if loop.index % 3 == 0 %}
        <div class="row">
        {% endif %}

            <div class="span3 alert alert-info" style="padding: 10px; margin: 15px;">
                <h2>{{ app.name }}</h2>
                <p>
                    <h4>{{ gettext("Owner") }}: {{ app.owner }}<br>
                    {{ gettext("Composer") }}: {{ app.composer }}</h4><br>
                    {{ gettext("Created") }}: {{ app.creation_date }}<br>
                    {{ gettext("Modified") }}: {{ app.modification_date }}<br>
                    {{ gettext("Accessed") }}: {{ app.last_access_date }}<br>
                </p>
                <br/>
                <p>
                    <a href="{{ build_edit_link(app) }}" class="btn btn-primary" type="button">{{ gettext("Open") }}</a>
                    <a href="{{ build_delete_link(app) }}" class="btn btn-danger" type="button">{{ gettext("Delete") }}</a>
                </p>
            </div>

        {% if loop.index % 3 == 0 %}
        </div>
        {% endif %}
    {% endfor %}

{% endblock %}
