{# For the View that displays the list of apps located in the system. #}

{% extends 'admin/master.html' %}
{% block body %}


<div class="row">
   
    {% for composer in composers %}
    <div class="span4" style="padding: 10px; border: 1px solid #003580; border-radius: 3px; margin: 15px;">
        <h2>{{composer.name}}
        </h2>
        <p>
            {{composer.description}}
        </p>
        <p>
            <a class="btn" href="{{url_for(composer.new_endpoint)}}">Start composing &raquo;
            </a>
        </p>
    </div>
    {% endfor %}

</div>

<br/>

<div class="row">

    <h2>Existing Applications:</h2>

    {% for app in apps %}
        <div class="span3" style="background-color:#C2DFFF; padding: 10px; border: 1px solid #003580; border-radius: 3px; margin: 15px;">
            <h2>{{ app.name }}</h2>
            <p>
                <h4>Composer: {{ app.composer }}</h4>
                <h5>Owner: {{ app.owner }}</h5><br>
                Created: {{ app.creation_date }}<br>
                Modified: {{ app.modification_date }}<br>
                Accessed: {{ app.last_access_date }}<br>
            </p>
            <br/>
            <p>
                {#<a href="{{ build_edit_link(app) }}" class="btn btn-primary" type="button">Open</a>#}
                {#<a href="{{ build_delete_link(app) }}" class="btn btn-danger" type="button">Delete</a>#}
            </p>
        </div>
    {% endfor %}

</div>

{% endblock %}
