{% extends 'admin/master.html' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="alert span6 offset3 text-center">
            <h2>{{ gettext("Warning") }}</h2>
            <p>{{ gettext("You are going to be logged in as %s. Every change you make will be visible for that user. Are you sure you want to proceed?" % login) }}</p>
            <form action="." method="POST">
                <button type="submit" class="btn btn-danger">{{ gettext('Proceed') }}</button>
            </form>
            </div>
        </div>
    </div>

{% endblock %}
