{% extends 'admin/master.html' %}

{% block body %}

    <div class="container">

        <div class="hero-unit">
            <h1>{{ gettext("Welcome %(user)s!", user = session.name) }}</h1>
            <p>{{ gettext("You can change your profile data in the User Panel. Please, click next button.") }}</p>
            <p>
                <a href="{{ url_for('user.profile.index') }}" class="btn btn-success btn-large">{{ gettext("Go to My Profile") }} &raquo;</a>
            </p>

        </div>
    </div>
{% endblock %}
